.flexrow {
	display: flex;
	flex-flow: row nowrap;
}
.flexcol {
	display: flex;
	flex-flow: column nowrap;
}
.Form {
	@extend .flexcol;
	overflow-y: scroll;
	width:100%;
    padding: 20px;
	input[type="text"] {
		outline: none;
		border: #808080 solid thin;
	    padding: 5px;
	}
	.question {
		@extend .flexcol;
		margin-bottom: 20px;
		&-title{
			width: 100%;
		}
		&-input{
			width: 75%;
			
		}
		&-label {
			padding: 0 10px;
		}
		
		
	}
	.options {
		@extend .flexcol;
		&-list {
			@extend .flexcol;
			
		}
		&-title{
			width: 100%;
		}
		&-input{
			width: 77%;
		}
		&-label {
			padding: 0 10px;
		}
		 .buttons {
			@extend .flexrow;
			padding: 10px;
			justify-content: space-between;
			.add {
				margin: 5px 20px;
			    border: 1px dashed;
			}
			.submit{
			   display: flex;
	    		justify-content: flex-end;
				&-button{
					background-color: white;
				    border: 1px solid #b3b3b3;
				    outline:none;
				    padding: 6px;
				}
			}
		}
	}
}