.ProductCartHolder{
  background-color: white;
  margin: 20px;
  &-Tab{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ababab;
    height: 50px;
    margin: 0 15px;
    .back-btn{
      height: 40px;
      margin: auto 10px;
      border: none;
      background-color: transparent;
      outline: none;
    }
    .cart-btn{
      height: 40px;
      margin: auto 10px;
      border: none;
      background-color: transparent;
      position: relative;
      outline: none;
      .cart-counter-label{
        position: absolute;
        top: -5px;
        right: -5px;
        color: #ff5900;
        font-weight: bold;
      }
    }
  }
  &-body{
    margin-left: -55px;
  }
}
