.TimelineViewer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  &-stylequiz{
    width: 94%;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
    font-size: 0.8rem;
    border-radius: 2px;
    color: #ABABAB;
    display: flex;
    &-content{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      padding: 0 5px;
      .header-icon{
        margin: 0 10px;
      }
    }
  }
  &-date {
    display: flex;
    align-self: flex-start;
    padding-right: 15px;
    font-size: 0.7rem;
    color: #ababab;
  }
  &-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #e6e6e6;
    border-bottom: 1px solid #d9d9d9;
    padding: 12px;
    height: 17px;
    padding-left: 15px;
    & > span {
      color: #666666;
      font-size: 0.85em;
    }
  }
  &-line {
    width: 1px;
    height: 100%;
    display: block;
    background-color: #808080;
    margin: 10px 0;
    position: absolute;
    left: 5.5%;
  }
  &-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    padding-top: 0;
    position: relative;
    margin: 0 auto;
    width: 94%;
  }
  &-loading-text {
    text-align: center;
  }
  &-list {
    display: flex;
    flex-flow: row nowrap;
    &-img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: 5px;
      object-fit: cover;
    }

  }
  &-listitem {
    display: flex;
    flex-flow: column nowrap;
    padding: 13px 0px;
    width: 100%;
    position: relative;
    background-color: white;
    margin: 5px 0;
    margin-left: 12px;
    border-radius: 2px;
    &-icon {
      position: absolute;
      top: -2px;
      fill: white;
      transform: rotateX(180deg);
      zoom: 0.65;
      left: -20px;
      &.stylequiz{
        stroke: #e6e6e6 !important;
        stroke-dasharray: 4,4 !important;
      }
    }
    &-header {
      display: flex;
      flex-flow: row nowrap;
      padding-left: 10px;
      align-items: center;
      justify-content: space-between;
      & > div {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 5px;
        justify-content: flex-start;
      }
      .header-icon {
        max-width: 25px;
        margin-right: 10px;
        display: flex;
      }
      .wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 500px;
      }
      &-title {
        color: #666666;
        font-size: 0.8em;
        font-weight: 600;
      }
      &-subtitle {
        color: #ababab;
        font-size: 0.8em;
        margin-left: 5px;
      }
      &-date {
        color: #b3b3b3;
        font-size: 0.7em;
      }
    }
    &-thumbnails {
      display: flex;
      flex-flow: row wrap;
      margin-left: 55px;
      padding: 5px 0px 5px 5px;
      margin-top: 6px;
      margin-right: 7px;
      background-color: white;
      width: 305px;
      & .image {
        margin-right: 2px;
      }
      & .image-container {
        position: relative;
        & .image-overlay {
          position: absolute;
          background-color: black;
          opacity: 0.5;
          width: 50px;
          height: 50px;
          top: 0px;
        }
        .overlay-text {
          display: flex;
          flex-flow: column;
          justify-content: center;
          text-align: center;
          position: absolute;
          width: 50px;
          height: 50px;
          top: 0px;
          color: #ffffff;
          font-size: 1em;
          > p {
            margin: 0;
          }
        }
      }

    }
    &-text {
      font-size: 0.8rem;
      color: black;
      word-wrap: break-word;
      &:hover {
        white-space: normal;
      }
    }

    &-link{
      cursor: pointer;
      font-size: 0.8rem;
      color: black;
      word-wrap: break-word;
      &:hover{
        white-space: normal;
        text-decoration: underline;
      }
    }
    &-message {
      background-color: white;
      margin-left: 30px;
      padding: 5px;
      margin-top: 6px;
      > span {
        font-size: 0.85em;
        color: #808080;
      }
    }
  }

}
