.EntityBrowser {
  margin-left: 55px;
  width: calc(100% - 55px);
  .topBar {
    min-height: 60px;
    padding-top: 15px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    .searchBox{
      padding-left: 10px;
      width: 50%;
      height: 30px;
    }
    .refresh{
      background-color: grey;
      border: none;
      height: 35px;
    }
    .total-count{
      margin-top: 6px;
      padding-left: 10px;
    }
  }
  .userList {
      height: 90vh;
      overflow-y: scroll;
    .userItem {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      padding: 5px;
      //border: 1px solid #ccc;
      margin-bottom: 2px;
      //background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 48%, #fefefe 100%); /* W3C */
      background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
      &-item{
        flex:1;
        text-align:center
      }
      &-image {
        width: 50px;
        height: 50px;
        border-radius: 5px ;
      }
    }

  }
}

