@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';

.DesignResponse{
  background-color:#e6e6e6;
  overflow-y:scroll;
  &-title{
    @extend .input-form-title;
  }
  &-buttonWrapper{
    @extend .flex-row;
    justify-content: flex-end;
    padding: 0 15px;
  }
  &-mainButtons{
    @extend .flex-row;
    .send{
      @extend .custom-primary-button;
      margin-right: 2px;
    }
    .save{
      @extend .custom-secondary-button;
    }
  }
  &-reset{
    background-color: #f2f2f2;
    height: 35px;
    width: 40px;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 2px;
  }
}
