.custom-primary-button{
  width: 125px;
  background-color: #323031;
  border: none;
  outline: none;
  margin-top: 12px;
  color: white;
  align-self: flex-end;
  margin-right: 18px;
  font-size: 0.75rem;
  padding: 8px 24px;
  border-radius: 2px;
  font-family: Lato;
  font-weight: 400;
  margin-bottom: 12px;
}

.custom-secondary-button{
  width: 125px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  font-weight: 400;
  margin-top: 12px;
  color: #808080;
  align-self: flex-end;
  margin-right: 10px;
  border-radius: 2px;
  font-size: 0.75rem;
  padding: 8px 24px;
  font-family: Lato;
  margin-bottom: 12px;
}

.input-form-title{
  color: #545454;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: Lato;
  padding: 15px;
  margin: 0px;
  padding-left: 25px;
  border-bottom: 1px solid #e6e6e6;
}

.custom-input{
  width: 90%;
  margin: 8px auto;
  padding: 10px;
  font-size: 0.75rem;
  font-family: Lato;
  border: none;
  background-color: #f2f2f2;
  outline: none;
  margin-bottom: 25px;
  border-radius: 3px;
}

.custom-input-label{
  margin: 5px 0 0px 30px;
  font-size: 0.75rem;
  font-family: Lato;
  font-weight: 600;
  color: #545454;
  align-self: flex-start;
}

.input-divider{
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
