*{
  font-family: Lato;
  margin: 0;
  padding: 0;
}
button {
  outline: none;
  border: none;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.center-flexRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-flexCol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-cross-icon{
  fill: #808080 !important;
  width: 20px !important;
  height: 20px !important;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
