@import '../../../../../../sass/inputForm';
@import '../../../../../../sass/partials';

.PasswordModal{
  &-input{
    @extend .custom-input;
  }
  &-content{
    @extend .flex-col;
    margin-top: 20px;
  }
  .button-wrapper{
    @extend .flex-row;
    justify-content: flex-end;
    >.submit{
      @extend .custom-primary-button;
    }
    >.cancel{
      @extend .custom-secondary-button;
    }
  }
}
