.thumbnail-container{
  background:white;
  padding: 10px 0px;

  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  .selector{
    width: 4px;
    background-color: #4c98d8;
    height: 4px;
    align-self: center;
    border-radius: 2px;
    bottom: -8px;
    position: relative;
    left: 40px;
  }
}
