.LoginComponent{
  background-color: #f2f2f2;
  width: 220px;
  height: 65px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  &-button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    color: #427FEC;
    background-color: transparent;
  }
  &-image{
    width: 80%;
    height: auto;
    &-wrapper{
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }

}
.DashBoards{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  &-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #427FEC;
    margin: 10px;
  }
  &-subtitle{
    text-align: center;
    color: #808080;
  }
  &-content {
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
