.subjective{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
    align-items: center;
    &-option{
    	border: 1px solid;
    width: 200px;
    text-align: center;
    margin: 5px;
    }
}