
.flex-row{
  display: flex;
  flex-flow: row nowrap;
}
.flex-column{
  display: flex;
  flex-flow: column;
}
.user-action-list-divider{
  padding: 0;
}
.user-action{
  @extend .flex-column;
  background-color: #f2f2f2;
  & .container{
    @extend .flex-column;

    & .top-container {
      @extend .flex-column;
      justify-content:center;
      height:50px;
      background-color:#e6e6e6;
      border-bottom: 1px solid #b3b3b3;

      & .toggle-actions{
        @extend .flex-row;
        justify-content: space-between;
        padding: 0px 16px;
        font-size:0.7em;
        & .cross-icon{
          cursor:pointer;zoom:0.75;fill: #666666;
        }
      }
    }
  }
  & .style-quiz-action{
    @extend .flex-column;
    justify-content:center;
    & .send-action{
      @extend .flex-row;
      justify-content:space-between;
      font-size:0.7em;
      padding: 18px;

      & .send-label{
        align-self: center;
      }
      & .send-button{
        padding: 4px 15px;
        border-radius: 16px;
        background-color: #f2f2f2;
        border: 1px solid #d9d9d9;
        font-size: 0.7em;
        outline: none;
      }
    }
  }
  & .quiz-response-list{
    @extend .flex-row;
    justify-content: space-between;
    padding: 5px 15px;
    font-size:0.7em;
    align-items: center;
    height: 35px;
    & .show-button{
      padding: 4px 15px;
      border-radius: 16px;
      background-color: #f2f2f2;
      border: 1px solid #d9d9d9;
      font-size: 0.7em;
      outline: none;
    }
  }
  & .quiz-response-container{
    @extend .flex-column;
    overflow-y:scroll;
    & .quiz-viewport{
      height: 400px;
    }
  }
}

