<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="59068091460-6b7dcl1a7jbfqv31la99tp59cra2oano.apps.googleusercontent.com">

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <link rel="icon" href="./favicon.png" type="image/png" sizes="32x32">
    <style id="css"><%= css %></style>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="app" ><%= body %></div>
    <!--<script src="https://cdn.pubnub.com/pubnub-3.7.14.min.js"></script>-->
    <script>
     var API_SERVER_URL = '<%= serverurl %>';
     var PUBNUB_SUB_KEY = '<%= pubnub_sub_key %>';
    </script>
    <script src="/app.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-68258400-1', 'auto');
      ga('send', 'pageview');
    </script>
    -->
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.4/phaser.min.js"></script>
  </body>
</html>
