.starrate{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
    align-items: center;
    &-stars{
    	display: flex;
		flex-flow: row nowrap;
    }
    &-fill{
    	display: flex;
		flex-flow: row nowrap;
    }
    &-empty{
    	display: flex;
		flex-flow: row nowrap;
    }
}