.VisualiserView{
  margin-left: 55px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  position: relative;
  &-LeftView{
    width: 100%;
    display: flex;
    flex-flow: column;
    transition: min-width 1s ease-in;
    background-color: #f2f2f2;
    .Card{
      display: flex;
      flex-flow: row wrap;
      &-list {
        display: flex;
        flex-flow: row wrap;
        padding-left: 10px;
        padding-top: 10px;
        background-color: #fff;
        justify-content: center;
      }
    }
  }
  &-RightView{
    width: 100%;
    background-color: #ffffff;
  }
  &-error{
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .ProjectCard{
    margin: 20px;
    position: relative;
    @extend .flex-col;
    background-color: #f2f2f2;
    padding: 15px;
    cursor: pointer;
    &-maincard{
      width: 100%;
      height: 100%;
      background-color: white;
    }
    &-header{
      padding: 15px;
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      &-title{
        color: #545454;
        font-weight: 700;
        width: 150px;
      }
      &-time{

      }
    }
    &-image{
      width: 250px;
      height: 200px;
      object-fit: cover;
    }

    &-container{
      width: 300px;
      height: 200px;
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0,0,0,0.6);

    }
    .overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0,0,0,0.4);
      .project{
        width: 100%;
        height: 80%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        font-family: Lato;
        &-title{
          color: white;
          font-weight: 700;
        }
        &-time{
          font-size: 0.8rem;
          font-weight: 400;
          color: #ccc;
        }
      }

    }
    &-user{
      padding: 15px;
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-wrapper{
        flex: 2;
        display: flex;
        align-items: center;
      }
      &-image{
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }
      &-name{
        position: relative;
        left: 10px;
        font-size: 0.8rem;
      }
      &-status{
        font-size: 0.8rem;
        flex: 1;
        display: flex;
        justify-content: space-around;
        max-width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: coral;
      }
    }
  }
}
