.grid-body {
  margin: 10px;
  padding-top: 10px;
  max-width: 310px;
  overflow-x: scroll;
  td {
    padding-bottom: 5px;
    padding-right: 5px;
  }
  td>img{
    width: 100px;
    height: 100px;
  }
  td>input{
    width:300px;
    outline: none;
  }
  & .grid-cell{
    //border: 1px dashed grey;
    & .thumbnails{
      height: 100px;
      width: 100px;
    }
    td {
      padding: 2px;
    }
  }
}
