@import "../../../sass/partials";
@import "../../../sass/inputForm";
.SideMenu{
  z-index: 3;
  width: 55px;
  display: flex;
  position: fixed;
  flex-flow: column;
  justify-content: space-between;
  background: #323031;
  height: 100vh;
  & .menu-bar{
    width: 55px;
    background: #323031;
  }
  & .lower-section{
    display: flex;
    flex-flow: column;
    align-self: center;
    margin-bottom: 15px;
    color: #ffffff;
    & .popup-menu{
      align-self: center;
      margin: 10px 0;
    }
    & .notification{
      align-self: center;
      margin: 10px 0;
    }
    & .avatar{
      align-self: center;
      padding: 10px 0;
    }
  }
  & .content-div{
    display: flex;
  }
  & .title{
    flex-grow: 1;
    text-align: center;
  }
}


