
.quiz-ui-center-align{
  text-align: center;
}
.quiz-ui{
  background-color: #f2f2f2;
  .flex-row{
    display: flex;
    flex-flow: row;
    justify-content: center;

    & .question-image{
      width: 100px; height: 100px;
    }
  }
  .flex-column{
    display: flex;
    flex-flow: column;
    justify-content: center;
    & .answer-image{
      align-self: center;
      width: 100px;
      height: 100px;
    }
  }
}
