.flex-row {
	display: flex;
	flex-flow: row nowrap;
}
.flex-col {
	display: flex;
	flex-flow: column nowrap;
}
.oval-button {
	border: none;
	outline:none;
	width: 75px;
	height: 36px;
	background-color: #b3b3b3;
	border-radius: 12px;
}
.quiz{
	&-maker{
		@extend .flex-row;
		&-title{
		    color: #808080;
    		font-size: 1.25rem;
		}
		&-select{
			flex:1;
		}
	}
	&-stored{
		flex:1;
		overflow-y: scroll;
		@extend .flex-col;
		&-list{
		    display: flex;
    		flex-flow: row wrap;
    		justify-content: center;
    		.add-wrapper {
    			width: 200px;
			    height: 150px;
			    cursor: pointer;
			    background-color: #f2f2f2;
			    margin: 15px;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    .add-box{
			    	fill: #808080 !important;
			    	zoom: 2;
			    }
    		}
		}
	}
	&-buttons {
		@extend .flex-col;
		padding: 5%;
	    align-items: center;
	    justify-content: space-around;
	    flex:1;
	    .Send-wrapper{
	    	align-items: center;
	    }
	    .name {
	    	margin-bottom: 15px;
	    }
	}
}
.AddWrapper{
	width: 50%;
	@extend .flex-row;
	justify-content: center;
	.add{
		@extend .oval-button;
		
	}
}
.EachQuiz{
	@extend .flex-row;
	background-color: #f2f2f2;
    margin: 15px;
    justify-content: space-between;
    align-items: center;

    &-listitem{
	    cursor: pointer;
	    padding-left: 10px;
	    &-title{
	    	display: flex;
    		margin: 15px;
    		.ques{
    		    margin: 0;
    		    word-wrap: break-word;
			    width: 110px;
			    height: 90px;
			    overflow: hidden;
    		}
	    }
    }
    &-buttons{
    	color: black;
	    font-size: 0.8rem;
	    justify-content: space-between;
	    width: 200px;
    }
}
.height{
	height: 100%;
}