.DesignerStats{
  min-height: 100vh;
  padding-top: 1%;
  background-color: #f2f2f2;
  width: 100%;
  margin-left: 55px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 1%;
  &-progress{
    position: absolute;
    top: 1%;
    left: 0;
    text-align: center;
    width: 100%;
    margin-left: 55px;
  }
  &-time{
    width: 46%;
    height: 200px;
    background-color: white;
    margin: 2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    &-details{
      flex:2;
      display: flex;
      flex-flow: column nowrap;
    }
    &-avatar{
      flex: 1;
      display: flex;
      flex-flow: column;
      //align-items: center;
      &-img{
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 25px;
        margin-top: 25px;
      }
    }
    &-title{
      text-align: center;
      color: coral;
      font-size: 1.25rem;
      margin-top: 20px;
      border-bottom: 1px solid #bdc3c7;
      padding-bottom: 20px;
      font-weight: 400;
    }
    &-stats{
      height: 50%;
      display: flex;
      flex-flow: row wrap;
    }
    .number-wrapper{
      display: flex;
      flex-flow: column nowrap;
      flex:1;
      .label{
        font-size: 0.8rem;
        color: #808080;
        text-align: center
      }
    }
    .number{
      font-size: 2.5rem;
      text-align: center;

    }
  }
}
.coral{
  color: coral;
}
.black{
  color: black;
}
.yellow{
  color: yellow;
}
.green{
  color: #2ecc71;
}
.blue{
  color:#3498db;
}
.purple{
  color:#9b59b6;
}
.black{
  color: #000;
}
.Designer{
  display: flex;
  flex-flow: column;
  background-color: white;
  margin: 0.75%;
  width: 31.5%;
  border-radius: 3px;
  .wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    flex:1;
    .title{
      font-size: 0.8rem;
      color: #808080;
      text-align: center;
    }
    .value{
      font-size: 2rem;
      color: #545454;
    }
  }
  &-statistics{
    display: flex;
    flex-flow: row;
    &-total{
      .colorStrip{
        height: 3px;
        background-color: #6933ad;
        width: 100%;
      }
    }
    &-pending{
      .colorStrip{
        height: 3px;
        background-color: #49c5b1;
        width: 100%;
      }
    }
    &-working{
      .colorStrip{
        height: 3px;
        background-color: #f05562;
        width: 100%;
      }
    }
    &-designsent{
      .colorStrip{
        height: 3px;
        background-color: #ffb549;
        width: 100%;
      }
    }
    &-closed{
      .colorStrip{
        height: 3px;
        background-color: #6cace4;
        width: 100%;
      }
    }
  }
  &-profile{
    background-color: white;
    height: 180px;
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &-img{
      width: 100px;
      border-radius: 50%;
    }
    &-name{
      font-weight: 400;
      margin-top: 15px;
    }
  }

}
