@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';

.Nextaction{
  background-color: white;
  padding: 15px 12px;
  margin: 20px 20px 7px 20px;
  display: flex;
  align-items: center;
  font-family: Lato;
  border-radius: 2px;
  &-link{
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  &-wrapper{
    font-size: 0.8rem;
    color: #ababab;
    width: 100%;
    text-align: center;
  }
  &-start-button{
    @extend .custom-primary-button;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  &-button{
    @extend .custom-primary-button;
    margin-top: 0;
    margin-bottom: 0;
    width: 150px;
    &-wrapper{
      @extend .center-flexRow;
    }
  }
  &-image{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    //margin-left: 20px;
  }
  &-bold{
    color: #666;
    font-size:0.8rem;
  }
}
