@import '../../../../../../../../sass/inputForm';
@import '../../../../../../../../sass/partials';

.ImageComponent {
  margin-top: 20px;
  &-title {
    @extend .custom-input-label;
  }
  &-add-workspace-Btn{
    @extend .custom-secondary-button;
    margin: 0 35px 0 0;
    float: right;
    width: 160px;
  }
  &-addWrapper {
    @extend .center-flexCol;
    height: 100%;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  .note-overlay{
    width: 150px;
    height: 22px;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #000;
    opacity: 0.3;
  }
  .note-text{
    position: absolute;
    top: 10px;
    left: 5px;
    color: #fff;
  }
}

.designresponse {
  &-image {
    width: auto;
    height: 120px;
    object-fit: contain;
    padding: 0 8px;
    box-sizing: border-box;
    &-holder {
      position: relative;
      .cross-icon {
        background-color: #fff;
        fill: #000 !important;
        border-radius: 50%;
        border: 1px solid #000;
        height: 20px !important;
        width: 20px !important;
        top: -10px;
        right: -5px;
        position: absolute;
        cursor: pointer;
      }
    }
    &-container {
      height: 120px;
      width: 95%;
      display: flex;
      margin: 0 auto;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      overflow-x: scroll;
    }
    &-wrapper {
      display: flex;
      overflow-x: scroll;
      max-width: 80%;
      min-width: 80%;
    }
    &-blur {
      width: auto;
      height: 120px;
      object-fit: contain;
      filter: blur(5px);
    }
  }
  &-dropzone {
    &-wrapper {
      margin: 0 auto;
      background-color: #f2f2f2;
      border-radius: 4px;
      position: relative;
    }
  }
  &-drop-zone {
    text-align: center;
    border: 2px dashed #ccc;
    min-height: 150px;
  }
}

.newdesignresponse {
  &-image {
    &-container {
      width: 95%;
      height: 150px;
      display: flex;
      margin: 0 auto;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      overflow-x: scroll;
      margin-top: 10px;
    }
  }
}
