.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.content-div{
  display: flex;
}
.title{
  flex: 1;
  text-align: center;
}
.submission-view {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  & .overlay{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 99.5%;
    height: 28px;
    bottom: 0px;
    margin:0px 0px 1px 1px;
  }
  & .img-overlay{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 99.5%;
    height: 30px;
    bottom: 0px;
    margin:0px 0px 1px 1px;
  }

  & .playerDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    bottom: 0px;
    & img {
      order: 1;
    }
  }
}

progress::-webkit-progress-bar {
  background: #fff;
  height: 4px;
}
progress::-webkit-progress-value {
  background: #428bca;
}
progress::-moz-progress-bar {
  height: 4px;
  background: #fff;
  color:#428bca;
}

.progressBar{
  height: 3px;
  appearance: none;
  align-self: center;
  transition: none;
  position: absolute;
  bottom: 30px;
  width: 100% !important;
  margin-left: 1px;
  padding-right: 2px;
}
.play-icon{
  margin: -20px 0px 0px -20px;
  fill: #fff;
  position: absolute;
  top:50%;
  left:50%;
  background-color: rgba(0,0,0,0.3);
  border: 0px;
  border-radius: 12px;
  z-index: 5;
  outline: none;
  .play-icon-svg{
    fill: white;
  }
  &:hover{
    .play-icon-svg{
      fill: red;
    }
  }
}

