.flexrow {
	display: flex;
	flex-flow: row nowrap;
}
.flexcol {
	display: flex;
	flex-flow: column nowrap;
}
.Form {
	@extend .flexcol;
	overflow-y: scroll;
    padding: 20px;
    width:100%;
	input[type="text"] {
		outline: none;
		border: #808080 solid thin;
	    padding: 5px;
	}
	.question {
		@extend .flexcol;
		margin-bottom: 20px;
		&-title{
			width: 100%;
		}
		&-input{
			width: 75%;
			
		}
		&-label {
			padding: 0 10px;
		}
		
		
	}
	.options {
		@extend .flexcol;
		    overflow-y: scroll;
    height: 370px;
		&-list {
			@extend .flexcol;
			input[type=text] {
				
			}
			input[type=text]:focus{
				box-shadow: 0 0 5px rgba(81, 203, 238, 1);
				border: none;
			}
			
		}
		&-title{
			width: 100%;
		}
		&-input{
			width: 77%;
			&-label{
				margin-left: 85px;
				width: 77%;
			}
		}
		&-label {
			padding: 0 10px;
		}
		 .buttons {
			@extend .flexrow;
			padding: 10px;
			justify-content: space-between;
			.add {
				margin: 5px 20px;
			    border: 1px dashed;
			}
			.submit{
			   display: flex;
	    		justify-content: flex-end;
				&-button{
					background-color: white;
				    border: 1px solid #b3b3b3;
				    outline:none;
				    padding: 6px;
				}
			}
		}
	}
	.eachUpload{
		&-input{
			margin: 0 20px;
		}
		&-delete{
			font-size: 0.8rem;
		    background-color: white;
		    border: 1px solid #b3b3b3;
		}
	}
}
.OptionsViewer{
	display: flex;
    flex-flow: row wrap;
	&-wrapper{
	    width: 50%;
	    display: flex;
	    flex-flow: column;
	    align-items: center;
}
	&-image{
		width: auto;
		height: 100px;
	}
}