@import '../../../../../../../../sass/partials';
@import '../../../../../../../../sass/inputForm';


.ActionResponses{
	background-color: white;
	border-radius: 2px;
	margin-bottom: 12px;
	@extend .flex-col;
	&-title{
		@extend .custom-input-label;
		margin-left: 7px;
		padding: 10px;
	}
	&-response{
		display: flex;
	    justify-content: space-between;
	    padding: 10px 15px;
	    align-items: center;
		&-title{
		    font-size: 0.75rem;
    		color: #999;
		}
		&-view{
			font-size: 0.7rem;
      padding: 4px 10px;
      border-radius: 2px;
      background-color: #5ecece;
      color: white;
		}
    &-cancel{
      font-size: 0.7rem;
      padding: 4px 10px;
      border-radius: 2px;
      background-color: #f2f2f2;
      color: #808080;
      margin-right: 5px;
    }
	}
}
