.topToolBar{
  //position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  & .toolBarButtons {
    //position: absolute;
    width: 700px;
    display: flex;
    flex-flow: row nowrap;

    & .checkBoxWrapper{
      outline: none;
      position: relative;
      top: 20px;
      width: 25px;
      height: 25px;
      text-align: center;
      border: 1px solid #bdc3c7;
      margin: 0 -2px 0 24px;
      border-radius: 50%;
      background-color: #fbfbfb;
      & .refresh{
        position: absolute;
        top: 2px;
        left: 2px;
        zoom:0.8;
        fill: #ABABAB !important;
      }
      &:hover{
        background-color: #808080;
        & .refresh{
          fill: #ffffff !important;
        }
      }
    }
    & .searchbar {
      width: 450px;
      height: 27px;
      border: 1px solid #bdc3c7;
      border-radius: 32px;
      margin: 18px 0 0 18px;
      & .searchBox{
        width: 90%;
        border:none;
        margin-top: 5px;
        font-size: 0.8em;
        background-color: transparent;
        outline:none;
      }
    }
  }
}
