@import "../../../../../../sass/inputForm";
@import "../../../../../../sass/partials";

$comments-text-color: #808080;
$comments-username-color: #404040;
$comments-background-color: #f2f2f2;
$comments-top-container-color: #e6e6e6;
$comments-top-container-border: #bdc3c7;
$comments-input-border: #d9d9d9;
$comments-icon-fill: #666666;

$comments-header-font-size: 0.9em;
$comments-input-font-size: 0.8em;
$comments-separator-font-size: 0.8em;
$comments-time-ago-font-size: 0.6em;
$comments-label-font-size: 0.75em;
$comments-text-font-size: 0.7em;

.comments-container{
  background-color: $comments-background-color;
  display:flex;
  flex-flow:column;
  justify-content:space-between;
  & .body{
    display:flex;flex-flow:column; justify-content:flex-start;
    height: 84vh;
    & .top-container{
      display: flex;
      flex-flow:column;
      justify-content:center;
      min-height:50px;
      background-color: $comments-top-container-color;
      border-bottom:1px solid $comments-top-container-border;
      font-size:$comments-header-font-size;
      & .top-label{
        display:flex;
        flex-flow:row;
        justify-content:space-between;
        padding:0 16px;
        & .right-icon{
          cursor:pointer;fill: $comments-icon-fill; zoom:0.75;
        }
      }
    }
    & .comment-box{
      @extend .custom-input;
      background-color: #ffffff;
      margin-bottom: 5px;
      //outline:none;
      //width: 94%;
      //padding:0 10px;
      //min-height: 30px;
      //font-size: $comments-input-font-size;
      //border: none;
      //border-bottom: 1px solid $comments-input-border;
    }
    & .comments-list{
      overflow-y:scroll;
      background-color: $comments-background-color;
      & .no-comment-list{
        text-align:center;
        background-color: $comments-background-color;
        font-size: $comments-input-font-size;
        color: $comments-icon-fill;
      }
      & .comment-row{
        display:flex;flex-flow:row nowrap; padding:10px 0;
        background-color: transparent;
        & .left-avatar{
          display:flex;padding-left:10px; flex-flow:column nowrap;
          align-items: center;
          width: 10%;
        }
        & .right-container{
          display:flex;
          position: relative;
          width: 80%;
          flex-flow:column nowrap;
          justify-content:center;
          padding:0 5px;
          & .top-header{
            display:flex;
            flex-flow:row nowrap;
            & .username{
              font-size: $comments-label-font-size;
              color: $comments-username-color;
            }
            & .separator{
              align-self:center;
              color: $comments-text-color;
              font-size: $comments-separator-font-size;
              margin-left: 5px;
            }
            & .time-ago{
              font-size: $comments-time-ago-font-size;
              align-self:center;
              color: $comments-text-color;
              margin:0 5px;
            }
          }
          & .comment-text{
            display: block;
            word-wrap: break-word;
            color: $comments-text-color;font-size: $comments-text-font-size;
          }
          & .comment-cross{
            position: absolute;
            cursor: pointer;
            right: 2px;
            top: -10px;
            & .cross-icon{
              zoom: 0.5;
              fill: grey !important;
            }
            &:hover{
              .cross-icon {
                fill: red !important;
              }
            }
          }
        }
      }
    }
    .example-enter {
      font-size: 12px;
      transition: font-size 1s ease-out;
    }

    .example-enter.example-enter-active {
      font-size: 1em;
    }

    .example-leave {
      opacity: 1;
      transition: opacity .5s ease-in;
    }

    .example-leave.example-leave-active {
      opacity: 0.01;
    }

    .example-appear {
      opacity: 0.01;
      transition: opacity 0.5s ease-in;
    }

    .example-appear.example-appear-active {
      opacity: 1;
    }
  }
}
