.ProductsScreen{

  border-left: 2px solid #eee;
  min-height: 90vh;
  margin-left:55px;
  width: 100%;
  .topPanel{
    .backBtn{
      padding: 5px;
      margin: 0 5px;
    }
    .newBtn{
      padding: 5px;
      margin: 0 5px;
    }
    .searchPanel{
      text-align: center;
      padding: 15px;
      border-bottom: 1px dotted #ccc;
      .searchInput{
        width: 60%;
        height: 30px;
        padding-left: 5px;
      }
      .searchSubmitBtn{
        margin-left: 5px;
        height: 35px;
        vertical-align: top;
        border: none;
        &:hover{

        }
      }
    }
  }
  .productListHolder{
    .productList{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .ProductListItem{
    display: inline-block;
    width: 200px;
    height: auto;
    vertical-align: top;
    padding: 7px;
    margin:15px;
    position: relative;
    border:1px solid transparent;
    &:hover{
      border:1px solid #ffd926;
      cursor: pointer;
    }
    .hoverComponent{
      position: absolute;
      left: 0;
      top: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .productImgHolder{
      .productImg{
        height: 200px;
        width: 200px;
        background-position: 50% 100%;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .productName{
      margin-top: 7px;
      color: #666;
      font-size: 13px;
      font-weight: 500;
    }
    .productPrice{
      color: #333;
      //padding-top: 2px;
      font-size: 17px;
      font-weight: bold;
      border-top:1px solid #c9c9c9;
      border-bottom:1px solid #c9c9c9;
    }
    .productFeatures{
      font-size: 11px;
      font-weight: 300;
      list-style-type: disc;
      padding-left: 6px;
      margin-top: 4px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
  }

}
