.ProductScreen {
  &-page {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 100%;
  }
  &-container {
    width: 100%;
    margin-left: 55px;
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
  }
  &-rowwrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  &-columnwrapper {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
  }
  &-tabs {
    width: 100%;
    height: 100vh;
  }
  &-search {
    padding: 20px 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: relative;
    & .searchbar {
      width: 90%;
      height: 30px;
      border: 1px solid #bdc3c7;
      border-radius: 32px;
      .searchBox {
        width: 60%;
        border: none;
        margin-top: 5px;
        font-size: 1em;
        background-color: transparent;
        outline: none;
      }
      .cross-icon{
        position: absolute;
        right: 80px;
        padding-top: 3px;
        fill: #7f8c8d !important;
        &:hover{
          fill: red !important;
        }
      }
    }
    .search {
      &-icon {
        fill: #7f8c8d !important;
        padding-left: 5px;
        padding-bottom: 4px;
      }

      &-button {
        position: absolute;
        right: 16px;
        height: 32px;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        border: 1px solid #BDC3C7;
      }
    }
    .clear-button {
      position: absolute;
      right: 0;
      height: 30px;
    }
  }
  &-repo {
    width: 100%;
    margin-left: 1%;
    flex: 3;
    height: 100vh;
    &-wrapper {
      background: silver;
      font-size: 0.75em;
      font-weight: 200;
      color: black;
      height: 100vh;
    }
  }
}
