@import "../../../../sass/inputForm";
@import "../../../../sass/partials";
$sec-left-padding: 30px;
$box-dim : 150px;

.flex-row{
  display: flex;
  flex-flow: row;
}
.flex-col{
  display: flex;
  flex-flow: column;
}
.ImageModal{
  width: auto;
  height: 100%;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &-details{
    width: 100%;
    @extend .flex-row;
    word-break: break-all;
    padding: 20px;
    box-sizing: border-box;
    &-wrapper{
      @extend .flex-col;
      flex:1;
      padding: 0 10px;
    }
  }
  &-label{
    @extend .custom-input-label;
    margin: 0;
    font-size: 0.85rem;
  }
  &-text{
    font-size: 0.7rem;
  }
}
.FilesHolder {
  background-color: #e6e6e6;
  position: relative;
  display: flex;
  flex-flow: row;
  overflow-y: scroll;
  &-vSection{
    &-left{
      flex:2;
      padding-left: $sec-left-padding;
      height: 95vh;
      overflow-y: scroll;
    }
    &-right{
      flex:1;
      border-left: 1px solid #bdc3c7;
      height: 95vh;
      overflow-y: scroll;
    }

  }
  .addMessage {
    display: flex;
    align-items: center;
    margin: 12px;
    border-radius: 24px;
    padding: 5px;
    background-color: white;
    justify-content: space-between;
    &--button{
      font-size: 0.8rem;
      outline: none;
      color: white;
      background-color: #008AE6;
      border: none;
      width: 50px;
      border-radius: 4px;
      height: 35px;
    }
    &--input{
      outline: none;
      width: 90%;
      padding-left: 10px;
      font-size: 0.8rem;
      border: none;
      height: 25px;
      border-radius: 4px;
    }
  }
  .AssetComponent{

  }

  .ChatBox{
    padding-left: $sec-left-padding;
    padding-right: $sec-left-padding;
    max-height: 90vh;
    overflow-y: scroll;
    &-chatMsg{
      position: relative;
      display: flex;
      width: 100%;
      &.user{
        justify-content: flex-end;
      }
      &.frnd {
        justify-content: flex-start;
      }
      &-Wrapper{
        background: white;
        border-radius: 5px;
        margin:5px 0;
        padding:7px;
        max-width: 80%;
        word-wrap: break-word;
        font-size:0.8rem;
        &.user{
          margin-right: 6px;
        }
        &.frnd{
          margin-left: 6px;
          background-color: aliceblue;
        }
      }
      &-tailIcon{
        height: 20px;
        width: 20px;
        fill: white !important;
        transform: rotate(135deg);
        zoom: 0.7;
        position: absolute;
        top: 25%;
        &-frnd{
          left: 47px;
        }

      }
      &-header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        &-name {
          font-size: 0.7rem;
          margin-right: 9px;
          color: #008AE6;
        }
        &-timestamp{
          font-size: 0.5rem;
          color: grey;
        }
      }
    }

  }
  .Chat-top-section{

  }
  &-section {
    margin-top: 30px;
    .header {
      font-size: 16px;
      font-weight: 700;
    }
    .subHeader{
      font-size: 12px;
    }
    .content {
      padding-top: 10px;
      .cartBox{
        width: 150px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
        position: relative;
        vertical-align: top;
        cursor: pointer;
        background-color: white;
        padding: 5px;
        border-radius: 2px;
        .cartIcon{
          width: 80% !important;
          height: auto !important;
          margin-left:10%;
        }
        img{
          width: 80%;
          height: auto;
          margin-left:10%;
        }
        .cartName{
          padding: 5px;
          text-align: center;
        }
      }

      .cartCreate{
        width: 160px;
        font-size: 0.8rem;
        padding: 5px;
        border-radius: 2px;
        background-color: #545454;
        color: white;
        font-family: Lato;
        font-weight: 400;
        border: none;
        outline: none;
        margin: 10px 0;
      }
      .imageHolder {
        width: 150px;
        display: inline-block;
        margin-right: 15px;
        position: relative;
        vertical-align: top;
        .note-overlay{
          width: 100%;
          height: 22px;
          position: absolute;
          top: 0;
          right: 0;
          background-color: #000;
          opacity: 0.3;
        }
        .note-text{
          position: absolute;
          top: 0;
          right: 5px;
          color: #fff;
        }
        .hoverDiv{
          width: $box-dim;
          height: $box-dim;
          top:0;
          left: 0;
          position: absolute;
          background-color: rgba(0,0,0,0.42);
          .viewBtn{
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            left: 30px;
            top:55px;
            height: 40px;
            display:flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 40px;
            background-color: white;
          }
          .downloadBtn{
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            right: 30px;
            top:55px;
            height: 40px;
            width: 40px;
            display:flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: white;
          }
          .crossBtn{
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            right: -10px;
            top: -10px;
            height: 30px;
            width: 30px;
            display:flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: white;
          }
        }

        .uploadBox{
          width: 100%;
          height: $box-dim;
          border: 1px dashed #e6e6e6;
          background-color: white;
          border-radius: 4px;
          box-sizing: border-box;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .image {
          background-position: 50% 50%;
          background-size: contain;
          background-repeat: no-repeat;
          width: 100%;
          height: $box-dim;
        }
        .label {
          padding-top: 5px;
          color: grey;
          font-size: 0.8em;
          text-align: center;
        }
      }

    }

  }
}
.ImageUploadModal{
  &-imageWrapper{
    @extend .flex-row;
    flex-wrap: wrap;
  }
  &-title{
    @extend .input-form-title;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .final-button{
    @extend .custom-secondary-button;
    margin: 0;
    width: 150px;
  }
  .listholder{
    justify-content: space-around;
    align-items: center;
    width: 26%;
    margin: 20px;
    position: relative;
    .delete-icon{
      zoom: 0.85;
      fill: grey !important;
      position: absolute;
      top: 0;
      right: 0;
    }
    &-inputs{
      @extend .flex-col;
    }
    &-input{
      @extend .custom-input;
      margin-bottom: 5px;
    }
  }
  .Save{
    &-wrapper{
      @extend .flex-row;
      justify-content: flex-end;
    }
    &-button{
      @extend .custom-primary-button;
    }
  }
}
.DropZone{
  &-wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
.ImageViewModal{
  @extend .flex-col;
  height: 100%;
  width: 100%;
  &-header{
    border-bottom: 1px solid #e6e6e6;
    @extend .center-flexRow;
    justify-content: space-between;
    &-title{
      @extend .input-form-title;
      border: none;
    }
    &-button{
      @extend .custom-primary-button;
      width: 20px;
      padding: 5px 15px;
    }
  }
}
