@import "../../../../../../../sass/inputForm";
@import "../../../../../../../sass/partials";
.ProjectMenuLists{
  @extend .flex-row;
  justify-content: space-between;
  background-color: #f2f2f2;
  min-height: 45px;
  &-menuRow{
    @extend .flex-row;
    &-designResponseList{
      @extend .flex-row;
      max-width: 600px;
    }
  }
  &-rightLists{
    @extend .flex-row;
    justify-content: center;
  }
  &-menuItemStyle{
    border: none;
    min-width: 80px;
    font-size: 0.7rem;
    outline: none;
    position: relative;
    font-family: Lato;

    &-bottomNotification{
      width: 100%;
      top: 0;
      left: 0;
      height: 10px;
      position: absolute;
      background-color: green;
      font-size: 8px;
    }
  }
}
