
.project-items-lists {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #f2f2f2;
  min-height: 45px;
  & .comment-notification{
    width: 100%;
    top: 0;
    left: 0;
    height: 10px;
    position: absolute;
    background-color: green;
    font-size: 8px;
  }
}
