@import "../../../../../../../../sass/inputForm";
@import "../../../../../../../../sass/partials";

.flex-row {
  display: flex;
  flex-flow: row;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.custom-button {
  font-size: 0.85rem;
  border-radius: 2px;
  outline: none;
  background-color: white;
  border: 1px solid #808080;
}

.DesignResponseProducts {
  margin: 20px 0px;
  &-title {
    @extend .custom-input-label;
  }
  &-products {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 0 10px 5px 10px;
    .product-list {
      display: flex;
      flex-flow: row;
      align-items: center;
      height: 60px;
      font-size: 0.8rem;
      justify-content: space-around;
      &-item {
        flex: 1;
        text-align: center;
        &-x {
          margin: 0 5px;
        }
        &-img {
          max-width: 50px;
          max-height: 50px;
        }
      }
      &-name {
        flex: 2;
      }
    }
  }
  &-addProduct {
    @extend .custom-input;
    width: 43%;
    @extend .center-flexRow;
    color: #999;
    font-size: 0.9rem;
    cursor: pointer;
    margin-bottom: 0;
    border: 1px dashed #ccc;
  }
  &-edit-products {
    width: 100%;
    display: flex;
    flex-flow: column;
    .product-list {
      display: flex;
      flex-flow: row;
      align-items: center;
      height: 328px;
      font-size: 0.8rem;
      justify-content: space-around;
      .price {
        width: 72px;
      }
      .quan {
        width: 30px;
      }
      .totalPrice {
        width: 80px;
      }

      &-item {

        text-align: center;
        &-x {
          margin: 0 5px;
        }
        &-img {
          max-width: 250px;
          max-height: 250px;
        }
      }
      &-name {

      }
    }
    &-title {
      @extend .input-form-title;
    }
    &-buttonWrapper {
      @extend .flex-row;
      justify-content: flex-end;
      .done {
        @extend .custom-primary-button;
      }
    }

  }
  &-totalcost {
    align-self: flex-end;
    width: 15%;
    margin-right: 260px;
    padding: 10px;
    font-size: 0.8rem;
    border-top: 1px solid;
    display: flex;
    justify-content: center;
  }
  .add-product {
    display: flex;
    flex-flow: column;
    &-button {
      padding: 4px;
    }
    &-title {
      @extend .input-form-title;
      padding: 0;
      border: none;
      margin-left: 5px;
    }
    .add-button {
      background-color: #808080;
    }
    .finish-button {
      align-self: flex-end;
      display: flex;
      align-items: center;
      margin: 15px;
      width: 98%;
      justify-content: space-between;
      box-sizing: border-box;
    }
    &-button {
      font-size: 0.85rem;
      margin-left: 22px;
      background-color: white;
      border: 1px solid #808080;
    }
    .container {
      display: flex;
      flex-flow: row;
      position: relative;
    }
  }
  .cart-button {
    padding: 5px 10px;
    background-color: #e6e6e6;
    border-radius: 2px;
    @extend .center-flexRow;
    &-icon {
      fill: #666 !important;
      width: 20px !important;
      height: 20px !important;
    }
    &-label {
      font-size: 0.8rem;
      color: #666;
    }
    &-length {
      font-size: 0.8rem;
      background-color: white;
      padding: 0 3px;
      margin: 0 5px;
      border-radius: 50%;
      color: #808080;
    }
  }
  .back-button {

  }
  .finalbutton-wrapper {
    @extend .flex-row;
    justify-content: flex-end;
    .done {
      @extend .custom-primary-button;
      margin-top: 15px;
    }
  }
  .ProductCart {
    height: 100%;
    &-header {
      @extend .input-form-title;
      width: 100%;
    }
    &-content {
      @extend .flex-row;
      flex-wrap: wrap;
      margin: 20px;
      margin-bottom: 0;
      height: 75%;
      overflow-y: scroll;
      .cartBox {
        width: 140px;
        display: flex;
        height: 150px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
        position: relative;
        vertical-align: top;
        cursor: pointer;
        background-color: white;
        padding: 5px;
        border-radius: 2px;
        @extend .center-flexCol;
        .cartIcon {
          width: 100px !important;
          height: 100px !important;
        }
        img {
          width: 80%;
          height: auto;
          margin-left: 10%;
        }
        .cartName {
          padding: 5px;
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
    &-buttonWrapper {
      display: flex;
      justify-content: flex-end;
      .send {
        @extend .custom-primary-button;
        width: 145px;
      }
    }
  }
}
