@import "../../../../../../../../sass/inputForm";
@import "../../../../../../../../sass/partials";

.ProductItemView {
  margin-left: 5px;
  background: white;
  display: flex;
  flex-flow: column;
  &-menuBar {
    display: flex;
    flex-flow: row;
    font-size: 0.8rem;
    min-height: 48px;
    border: 1px solid #bdc3c7;
    background-color: #f2f2f2;
    .menuButton {
      background-color: #f2f2f2;
      color: #000000;
      outline: none;
      border: none;
      width: 100px;
      border-right: 1px solid #e6e6e6;
      &:hover{
        background-color: grey;
        color: #ffffff;
      }
    }
  }
  &-basicProductInfo {
    padding: 15px;
    display: flex;
    flex-flow: row;
    padding-bottom: 0;
    .imageViewerPanel {
      flex: 1;
    }
    .infoPanel {
      flex: 1;
      .productName {
        font-size: 25px;
      }
      .brandName {
        color: #ABABAB;
        font-size: 13px;
        margin-top: -4px;
      }
      .priceContainer{
        @extend .flex-row;
        .separator{
          margin: 0 10px;
        }
      }
      .priceField {
        margin-top: 15px;
        font-size: 20px;
        color: #565656;
        display: flex;
        flex-flow: row wrap;
      }
      .urlField{
        color: #ABABAB;
        margin-top: 15px;
        font-size: 13px;
        max-height: 35px;
        overflow-y: scroll;
        width: 100%;
      }
      .categoricalData {
        margin-top: 20px;
        color: #666666;
      }
      .detailsTable {
        display: flex;
        flex-flow: column;
        margin-top: 20px;
        .header {
          flex: 1;
          background: #f2f2f2;
          padding: 6px;
          font-size: 13px;
        }
        .tr {
          flex: 1;
          display: flex;
          flex-flow: row;
          border-bottom: 1px dotted #c9c9c9;
          .td-left {
            padding: 6px;
            font-size: 13px;
            flex: 1;
            border-right: 1px dotted #c9c9c9;
          }
          .td-right {
            padding: 6px;
            font-size: 13px;
            flex: 2;
          }
        }
      }
    }
  }
  .input-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    .qty{
      width: 60px;
      padding: 3px;
      border: 2px solid #e6e6e6;
      font-size: 0.8rem;
      border-radius: 2px;
      outline: none;
    }
    .price{
      font-size: 0.8rem;
      padding: 3px;
      border: 2px solid #e6e6e6;
      border-radius: 2px;
      outline: none;
    }
    .radio{
      &-INR{
        width: 12px;
        vertical-align: middle;
        outline: none;
      }
      &-USD{
        width: 12px;
        vertical-align: middle;
        outline: none;
      }
    }
    .price-label{
      font-size: 12px;
    }
    .add-button{
      @extend .custom-primary-button;
      margin:0;
      background-color:#f35d54;
    }
  }
}
