@import "../../../../../../../../sass/partials";
@import "../../../../../../../../sass/inputForm";

.flex-col{
  display: flex;
  flex-flow: column;
}
.flex-row{
  display: flex;
  flex-flow: row;
}
.SearchPanel{
  flex: 1;
  height: 68vh;
  margin-top: 15px;
  overflow-y: scroll;
  &-button{
    font-size: 0.85rem;
    border-radius: 2px;
    outline: none;
    background-color: white;
    border: 1px solid #808080;
  }
  .product-list{
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 60px;
    justify-content: space-around;
  }
  .itemList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 50px;
    .item-info {
      display: flex;
      flex-flow: row;
      align-items: center;
      font-size: 0.5rem;
      justify-content: space-between;
      width: 90%;
      cursor: pointer;
      .item-left {
        display: flex;
        flex-flow: row;
        padding-left: 16px;
        align-self: center;
        .product-image{
          max-width: 38px;
          max-height: 38px;
          min-height: 38px;
          min-width: 38px;
        }
        &:hover {
          .itemList {
            background-color: #123123;
          }
        }
        & .product-name {
          color: #000;
          font-size: 0.65rem;
          padding-left: 16px;
          align-self: center;
          overflow: hidden;
          max-height: 40px;
        }
      }
    }

    &-item-right {
      display: flex;
      flex-flow: row;
      align-self: center;
      padding-right: 16px;
      & .product-id {
        color: #000;
        padding-right: 16px;
        font-size: 0.55rem;
        align-self: center;
      }
      & .delete-button {
        background-color: transparent;
        border: none;
        outline: none;
        &:hover {
          border: 1px solid #000;
        }
      }
    }

  }
  .searchbox{
    @extend .flex-col;
    margin: 0 15px;
    &-input{
      @extend .custom-input;
      margin-bottom: 10px;
      border-radius: 24px;
      padding-left: 15px;
    }
    &-label{
      @extend .custom-input-label;
      margin-left: 0;
      font-size: 0.85rem;
    }
  }
}
.EmptyHolder{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  &-content{
    font-size: 0.8rem;
    color: #888;
    &-title{
      margin-bottom: 10px;
      margin-left: -20px;
    }
  }
}
