@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';

.ProjectDetails{
	@extend .flex-col;
	margin-top: 20px;
	&-wrapper{
		@extend .flex-col;
		padding: 10px;
		.relatives-list{
			.collab-name{
				margin-top: 0;
			}
		}
	}
	.description{
		background-color: white;
    	border-radius: 2px;
    	margin-bottom: 12px;
    	@extend .flex-col;
    	.owner-image{
    		margin-left: 7px;
    		object-fit: cover;
    	}
	}
	.user{
		padding: 10px;
		@extend .flex-row;
		align-items: center;
		&-name{
			margin-left: 7px;
		}
		&-image{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			object-fit: cover;
		}
		&-details{

		}
		&-designation{
			margin-left: 7px;
		}
	}
	&-label{
		@extend .custom-input-label;
		margin-left: 7px;
	}
	&-text{
		margin-left: 7px;
	    color: #999;
	    font-size: 0.75rem;
	}
	.relatives{
		background-color: white;
    	border-radius: 2px;
    	margin-bottom: 12px;
	}
}
