@import "../../../sass/partials";
@import "../../../sass/inputForm";
.Moodboard{
  margin-left: 60px;
  &-topMenu{
    display: flex;
    flex-flow: row;
    >button{
      @extend .custom-secondary-button;
      width: 110px;
      font-size: 0.4rem;
    }
  }
  &-bottomMenu{
    .container{
      display: flex;
      flex-flow: row;
      .inputColor{
        height: 40px;
        margin-top: 8px;
        border: none;
        outline: none;
        margin-right: 10px;
      }
      .inputForm{
        display: flex;
        flex-flow: row;
        >input{
          margin-bottom: 0;
          margin-right: 10px;
          height: 20px;
        }
      }
    }
  }
}
