.home-page {
  display:flex;
  flex-flow: row nowrap;
  width: 100%;
  overflow-x:hidden;
  &-main {
    display: flex;
    flex-flow: column;
    margin-left: 55px;
    width: calc(100% - 55px);
    &-container {
      width: 100%;
      margin-right: 2px;
      //max-height: 100vh;
      //overflow-y: scroll;
    }
  }
}
