@import "../../../../../../../../sass/inputForm";
@import "../../../../../../../../sass/partials";
.ProductRequest{
  margin-left: 55px;
  &-doneBtn{
    width: 100%;
    text-align: right;
  }
  &-list{
    max-width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 20px 0;
    &-input{
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
    }
  }
}
