@import "../../../../../../../../sass/inputForm";
@import "../../../../../../../../sass/partials";

.ProductCartHolder{
  background-color: white;
  height: 80%;
  margin: 20px;
  &-label {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.09);
    .saveBtn {
      padding-left: 15px;
    }
  }
  &-Tab{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    height: 50px;
    padding: 0 15px;
    .back-btn{
      margin: auto 10px;
      margin-left: 0;
      color: #808080;
      border: none;
      outline: none;
      padding: 5px 10px;
      background-color: #f2f2f2;
      border-radius: 2px;
    }
    .cart-btn{
      @extend .custom-secondary-button;
      position: relative;
      .cart-counter-label{
        position: absolute;
        top: 3px;
        right: 36%;
        color: #ff5900;
        font-weight: bold;
      }
    }
  }
  &-body{
    margin-left: -55px;
    height: 80%;
  }
}
