@import "../../../sass/inputForm";
@import "../../../sass/partials";

.NewProjectsList {
  width: 100%;
  background-color: white;
  height: 87vh; // temporary fix
  overflow-y: scroll;
  &-searchBox{
    display: flex;
    >input{
      @extend .custom-input;
      margin-bottom: 0;
      border-radius: 24px;
      padding-left: 15px;
    }
  }
  .project-status {
    font-size: 1em;
    padding:2px 7px;
  }
  .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &.un-assigned{
      background-color:#e74c3c;
    }
    &.working{
      background-color:#27ae60;
    }
    &.assigned{
      background-color:#f1c40f;
    }
    &.closed{
      background-color:#3498db;
    }
    &.design{
      background-color:#000;
    }
  }
  .project-status.un-assigned{
    color: #e74c3c;
  }
  .project-status.working{
    color: #27ae60;
    //padding:2px 11px;
  }
  .project-status.assigned{
    color: #e67e22;
    //padding:2px 21.5px;
  }
  .project-status.closed{
    color: #3498db;
    //padding:2px 23px;
  }
  &.ListItem {
    display: flex;
    flex-flow: row nowrap;
    & div:nth-child(1){
      order: 1;
      flex: 2.5;
    }
    & div:nth-child(2){
      order: 2;
      flex: 5;
    }
    & div:nth-child(3){
      order: 3;
      flex: 2;
    }
    & div:nth-child(4){
      order: 4;
      flex: 1;
    }
  }
}
