.flex-row{
  display: flex;
  flex-flow: row;
}
.AssignProject {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  &-header {
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    background-color: #e6e6e6;
    border-bottom: 1px solid #d9d9d9;
    padding:12px;
    height: 17px;
    padding-left: 15px;
    &>span{
      color: #666;
      font-size: 0.7em;
    }
    .cross-icon{
      cursor: pointer;
      fill: #666666 !important;
      zoom: 0.75;
    }
  }
  &-content {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow-y: scroll;
    background-color: #f2f2f2;
  }
  &-assigned-users-list {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.7em;
    border-bottom: 1px solid #e6e6e6;
    &-align-center{
      align-items: center;
    }
    &-image {
      justify-content: center;
    }
    &.Search {
      background-color: #fafafa;
    }
    >span {
      color: #808080;
      padding: 5px;
    }
  }
  &-searchlist {
    display:flex;
    flex-flow: row nowrap;
    padding: 10px;
    font-size: 0.7em;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    &-image {
      justify-content: center;
    }
    &.Search {
      background-color: #fafafa;
    }
    >span {
      color: #808080;
      padding: 5px;
    }
  }
  &-searchbar {
    outline:none;
    border:none;
    font-size: 1em;
    width: 100%;
    background-color: #fafafa;

  }
  &-notes {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;

    &-title{
      background-color: #f2f2f2;
      border-top: 1px solid #b3b3b3;
      border-bottom: 1px solid #e6e6e6;
      padding: 10px;
      height: 20px;
      color: #808080;
      font-size: 0.7em;
      padding-left:17px;
    }
    &-input {
      background-color: #fafafa;
      height: 35vh;
      padding: 10px;
      resize: none;
      border: none;
      outline: none;
      font-size: 0.7em;
    }
    &-buttons{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      padding-right: 5px;
    }
    &-button {
      outline: none;
      padding: 5px;
      width: 75px;
      color: #808080;
      margin: 2% 5px;
      background-color: white;
      border-radius: 16px;
      font-size: 0.7em;
      border: 1px solid #e6e6e6;
      &:hover {
        background-color: #808080;
        color: #fff;

      }

    }
  }
  &-assign{
    display: flex;
    flex-flow: row nowrap;
    &-usersList{
      display: flex;
      flex-flow: column nowrap;
      flex: 1;
      margin: 0 10px;
    }
  }
}
