@import "../../../../sass/inputForm";
@import "../../../../sass/partials";

.FilesRepository{
  .dropzone{
    width: 99.8%;
    height: 100px;
    border: 1px dashed #e6e6e6;
    @extend .center-flexCol;
    &-wrapper{
      width: 99%;
      background-color: white;
    }
  }
  &-label{
    @extend .custom-input-label;
    font-size: 0.85rem;
    margin: 15px 0;
  }
  &-saveBtn{
    align-self: flex-start;
  }
  &-upload{
    &-container{
      @extend .flex-row;
    }
    &-inputName{
      @extend .custom-input;
      margin: 0 10px 25px 0;
      width: 80%;
      border: 1px solid #999;
      border-radius: 2px;
    }
    &-wrapper{
      @extend .flex-col;
    }
    &-progress{
      position: absolute;
      background-color: coral;
      height: 4px;
      border-radius: 2px;
      &-wrapper{
        width: 94%;
        padding: 0;
        border-radius: 2px;
        height: 4px;
        background-color: #ababab;
        position: relative;
      }
      &-label{
        font-size: 0.8rem;
      }
    }
  }
  a {
    font-size: 0.8rem;
  }
  &-finalasset{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    &-wrapper{
      position: relative;
      &:hover{
        .remove{
          display: block;
          cursor: pointer;
          position: absolute;
          right: 2px;
          top: -15px;
        }
      }
    }
    &-button{
      @extend .custom-secondary-button;
      background-color: #e6e6e6;
      text-decoration: none;
    }
    &-filesize{
      margin-right: 10px;
      padding-top: 10px;
      font-size: 0.8rem;
      text-align: center;
    }
    .remove{
      display: none;
    }
  }
}
