.topToolBar{
  //position: relative;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #808080;
  justify-content: space-between;
  width: 95%;
  & .toolBarButtons {
    //position: absolute;
    width: 700px;
    display: flex;
    flex-flow: row nowrap;

    & .checkBoxWrapper{
      position: relative;
      top: 20px;
      width: 25px;
      height: 25px;
      text-align: center;
      border: 1px solid #bdc3c7;
      margin: 0 -2px 0 24px;
      border-radius: 50%;
      background-color: #fbfbfb;
      .checkbox{
        position: absolute;
        right: 3px;
        top: 4px;
      }
      .refresh {
        zoom: 0.8;
        fill: #ABABAB !important;
      }
    }
    & .searchbar {
      width: 450px;
      height: 27px;
      border: 1px solid #bdc3c7;
      border-radius: 32px;
      margin: 18px 0 0 18px;
      .search {
        fill: #7f8c8d !important;
        padding-left: 5px;
        padding-top: 2px;
        zoom: 0.8;
      }
      & .searchBox{
        width: 90%;
        border:none;
        margin-top: 5px;
        font-size: 0.8em;
        background-color: transparent;
        outline:none;
      }
    }
  }
  .project-count {
    color: #808080;
  }
}
