.info-toolbar {
	display: flex;
	flex-flow: row nowrap;
	height: 100px;
	background-color: #e6e6e6;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    &-title{
    	display: flex;
    	flex-flow: column nowrap;
    	>span:nth-child(2) {
    		font-size: 0.8rem;
    		color: #808080;
    	}
    }
    &-points {
    	display: flex;
    	flex-flow: column nowrap;
    	>span:nth-child(2) {
    		font-size: 0.8rem;
    		color: orange;
    	}
    }
    &-status {
    	padding: 5px 15px;
	    border-radius: 14px;
	    background-color: white;
	    font-size: 0.8rem;
        outline: none;
    }
}