.product-details {
	display: flex;
	flex-flow: row nowrap;
	height: 90vh;
	background-color: #f2f2f2;
	&-images{
		order:1;
		flex:1;
		display: flex;
	    flex-flow: column nowrap;
	    justify-content: flex-start;
	    align-items: center;
	    >.imageplay {
	    	width:100%;
	    	height: 120px;
	    	position: relative;
	    	background-color: #808080;
	    	margin: 20px 0;
	    	display: flex;
	    	flex-flow: row nowrap;
	    	justify-content: space-between;
	    	>.left-arrow {
	    		fill: white !important;
			    zoom: 3;
			    margin: auto 0;
			    cursor:pointer;
	    	}
	    	>.right-arrow {
	    		fill: white !important;
			    zoom: 3;
			    margin: auto 0;
			    cursor:pointer;
	    	}
	    	 .thumbnail {
	    	 	height: 100px;
	    	 	width: 100px;
	    	 	margin: 10px;
	    	 }
	    }
	}
	&-info {
		order: 2;
		flex: 1;
		 td:nth-child(1) {
		 	font-size: 0.85rem;
		    justify-content: flex-end;
		    display: flex;
		    margin: 5px;
		    margin-right: 10px;
		    color: #808080;
		 }
		 td:nth-child(2){
		 	font-size: 0.85rem;
		    margin: 5px;
		 }
	}
	&-download {
		position: absolute;
	    right: 0;
	    margin: 10px;
	    >.download-icon {
	    	fill: #808080 !important;
	    }
	}
}