@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';

.DesignerOptionResponse{
  &-header{
    @extend .input-form-title;
  }
  &-content{
    height: 70%;
    overflow-y: scroll;
    &-title{
      margin: 20px 25px;
      font-size: 0.8rem;
    }
    &-answer{
      font-weight: 600;
      color: #6e92cc;
      font-size: 0.9rem;
      text-decoration: underline
    }
  }
  &-designers{
    @extend .flex-row;
    flex-wrap: wrap;
    margin: 15px;
    overflow-x: scroll;
    &-wrapper{
      text-align: center;
      padding: 10px;
      @extend .center-flexCol;
    }
    &-image{
      border-radius: 50%;
    }
    &-name{
      width: 100%;
      margin: 5px 0;
      font-size: 0.8rem;
    }
  }
  &-buttonwrapper{
    @extend .flex-row;
    justify-content: flex-end;
    .done{
      @extend .custom-primary-button;
    }
  }
}
