@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';

.DesignerOptionModal{
  .Loading{
    width: 100%;
    height: 100%;
    @extend .center-flexRow;
  }
  &-content{
    @extend .flex-col;
    margin-top:20px;
    align-items: center;
    height: 75%;
    overflow-y: scroll;
  }
  &-designer-wrapper{
    display: flex;
    flex-flow: row wrap;
    //justify-content: space-between;

    width: 93%;
    margin: 10px auto;
    &-container{
      width: 49%;
      margin-right: 0.5%;
      margin-bottom: 0.5%;
      border: 1px solid #e6e6e6;
    }
    .designer-image{
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      opacity: 0.7;
      cursor: pointer;
      &-label{
        font-weight: 400;
        font-size: 0.7rem;
        margin: 10px 0;
        color: #808080;
      }

    }
    .image-container{
      position: relative;
      margin: 5px 10px;
      border-radius: 50%;
      @extend .flex-col;
      align-items: center;
      &:hover{
        .designer-image {
          opacity: 1;
        }
      }

      .tick{
        position: absolute;
        cursor: pointer;
        left: 15px;
        top: 15px;
        zoom:2;
      }
      .price {
        &-wrapper {
          @extend .center-flexRow;
          &-mrp{
            flex: 1;
          }
          &-sp{
            padding-left: 10px;
            flex: 1;
          }
        }
        &-label{
          font-size: 0.75rem;
          align-self: center;
          color: #808080;
          font-weight: 400;
          flex: 1;
        }
        &-input{
          @extend .custom-input;
          text-align: right;
          flex: 1;
          margin-top: 0;
          margin-bottom: 0px;
          padding: 7px;
          margin-left: 10px;
        }
      }
    }
  }
  &-searchBox{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  &-title{
    @extend .input-form-title;
  }
  &-inputWrapper{
    @extend .center-flexCol;
    width: 100%;
  }
  &-input{
    @extend .custom-input;
  }
  &-buttonWrapper{
    @extend .flex-row;
    justify-content: flex-end;
    >.send{
      @extend .custom-primary-button;
    }
    >.cancel{
      @extend .custom-secondary-button;
    }
  }
  .designer-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
    &-label{
      font-weight: 400;
      font-size: 0.7rem;
      margin: 10px 0;
      color: #808080;
    }

  }
  .image-wrapper{
    margin: 5px 10px;
    @extend .flex-col;
    align-items: center;
    position: relative;
    &:hover{
      .tick-icon{
        fill: green !important;
      }
    }
  }
  .tick-icon{
    position: absolute;
    top: 26px;
    right: 26px;
    cursor: pointer;
    zoom: 1.3;
  }
}
