@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';

.MoreImages{
  &-content{
    display: flex;
    flex-flow: column;
    height: 89%;
    &-title{
      @extend .input-form-title;

    }
    &-wrapper{
      @extend .center-flexCol;
      margin-top:20px;
      overflow-y: scroll;
    }
    &-input{
      @extend .custom-input;
    }
    &-inputLabel{
      @extend .custom-input-label;
    }
  }
  &-footer{
    &-buttonWrapper{
      @extend .flex-row;
      justify-content: flex-end;
      >.send{
        @extend .custom-primary-button;
      }
      >.cancel{
        @extend .custom-secondary-button;
      }
    }
  }
}
