@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';
.PaymentActionsResponse{
  .price {
    &-wrapper {
      @extend .center-flexRow;
      padding: 20px 0;
      &-mrp{
        flex: 1;
      }
      &-sp{
        padding-left: 10px;
        flex: 1;
      }
    }
    &-label{
      font-size: 0.75rem;
      align-self: center;
      color: #808080;
      font-weight: 400;
      flex: 1;
    }
    &-input{
      @extend .custom-input;
      text-align: right;
      flex: 1;
      margin-top: 0;
      margin-bottom: 0px;
      padding: 7px;
      margin-left: 10px;
    }
  }
}
