@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';
.PaymentActions{
  &-content{
    display: flex;
    flex-flow: column;
    height: 89%;
    &-title{
      @extend .input-form-title;

    }
    &-wrapper{
      @extend .center-flexCol;
      margin-top:20px;
      overflow-y: scroll;
    }
    &-input{
      @extend .custom-input;
    }
    &-inputLabel{
      @extend .custom-input-label;
    }
  }
  &-footer{
    &-buttonWrapper{
      @extend .flex-row;
      justify-content: flex-end;
      >.send{
        @extend .custom-primary-button;
      }
      >.cancel{
        @extend .custom-secondary-button;
      }
    }
  }
  .price {
    &-wrapper {
      @extend .center-flexRow;
      &-mrp{
        flex: 1;
      }
      &-sp{
        padding-left: 10px;
        flex: 1;
      }
    }
    &-label{
      font-size: 0.75rem;
      align-self: center;
      color: #808080;
      font-weight: 400;
      flex: 1;
    }
    &-input{
      @extend .custom-input;
      text-align: right;
      flex: 1;
      margin-top: 0;
      margin-bottom: 0px;
      padding: 7px;
      margin-left: 10px;
    }
  }
}
