@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';

.SubjectiveQuestion{
  &-title{
    @extend .input-form-title;
  }
  &-content{
    @extend .center-flexCol;
    margin-top:20px;
    overflow-y: scroll;
  }
  &-buttonWrapper{
    display: flex;
    justify-content: flex-end;
  }
}
