.flexrow {
	display: flex;
	flex-flow: row nowrap;
}
.flexcol {
	display: flex;
	flex-flow: column nowrap;
}
.Questionnaire {
	@extend .flexcol;
	height: 550px;
	&-back{
		@extend .flexrow;
		align-items: center;
    	padding-right: 5px;
    	cursor: pointer;
	}
	&-content {
		@extend .flexrow;
		flex:1;
		margin-top: 30px;
	}
	&-questions {
		border-right: 1px solid #808080;
		background-color: #b3b3b3;
		align-items: center;
		width: 140px;
		overflow-y: scroll;
    .buttonWrapper{
      position: absolute;
      top: 88px;
      right: 3%;
    }
		.questions-list-eachItem {
			@extend .flexrow;
			align-items: center;
		    justify-content: space-between;
		    background-color: white;
		    width: 120px;
		    height: 80px;
		    margin: 7px 0;
		    align-self: center;
		    .content{
		    	flex:1;
			    font-size: 0.8rem;
			    display: flex;
			    align-items: flex-start;
			    align-self: flex-start;
			    margin-top: 5px;
			    padding-left: 5px;
			    height: 100%;
			    .ques{
			    	margin:0;
			    	text-overflow: ellipsis;
				 	white-space: nowrap;
				 	overflow: hidden;
				 	width: 80px;
			    }
		    }
		    .delete-icon{
		    	align-self: flex-start;
		    }
		}
		.AddWrapper{
			@extend .flexrow;
			align-items: center;
		    justify-content: space-between;
		    background-color: white;
		    width: 120px;
		    min-height: 80px;

		    margin: 7px 0;
		    align-self: center;
		    justify-content: center;
		    .add-icon{
		        fill: #808080 !important;
    			zoom: 2;
		    }
		}

	}
	&-questionlist {
		@extend .flexcol;

		height: 100%;
		overflow-y: scroll;
		font-size: 0.9rem;
    	border-right: 1px solid #808080;
    	>.questions {

    		&-list{
    			overflow-y: scroll;
    			 .index {
    			 	font-size: 0.9rem;
    			 }
    			 .ques {
    			 	font-size: 0.9rem;
    			 	margin: 0;
    			 	padding-left: 10px;
    			 	text-overflow: ellipsis;
    			 	white-space: nowrap;
    			 	overflow: hidden;
    			 	width: 150px;
    			 }
    		}
    	}
    	&-eachItem{
    		@extend .flexrow;

    	}
    	.buttonWrapper {
    		display: flex;
		    flex-flow: row;
		    justify-content: space-between;
		    align-items: center;
    		margin-top: 10px;
    	}
    	.AddWrapper{
			width: 50%;
			@extend .flex-row;
			justify-content: center;
			.add{
				border: none;
			    outline: none;
			    width: 70px;
			    height: 36px;
			    margin-right: 5px;
			    background-color: white;
			}
		}
	}
	&-createnew {
		flex: 2;
		display: flex;
	    flex-flow: column;
	    align-items: center;
	    justify-content: center;
	    background-color: #f2f2f2;
    overflow-y: scroll;
	    .createnew-grid{
	    	background-color: #b3b3b3;
	    	.first-row{
	    		border-bottom: 1px solid #d3d3d3;
	    	}
	    	.first-child{
	    		border-right: 1px solid #d3d3d3;
	    	}
	    }
		 .questions {
		 		padding: 20px;
		 }
		 .type-grid {
		 	@extend .flexrow;
		 	height: 250px;
		 	margin-top: 30px;
		 	&-left,&-right {
		 		@extend .flexcol;
		 	}
		 	&-each {
		 		flex: 1;
		 		margin: 3px;

		 		font-size: 0.8rem;
		 		display: flex;
			    justify-content: center;
			    align-items: center;
			    padding: 16px;
			    cursor: pointer;
		 	}
		 }
	}
	.fill-question{
		@extend .flexcol;
		width: 80%;
	}
	&-inputlist{
		justify-content: center;
		&-eachInput{
			align-items: center;
			font-size: 0.8rem;
			.name-label{
				font-size: 0.8rem;
				padding-right: 10px;
			}
			>.name-input{
				width: 200px;
				font-size: 0.8rem;
			}
		}

	}
}
.New-Questionnaire{
height: 300px;
	@extend .flexrow;
	 .question-list{
		border-right: 1px solid #808080;
		width: 20%;
		 &-each {
		 	display: flex;
		    justify-content: center;
		    background-color: #f2f2f2;
		    padding: 10px 0px;
		 }
	}

}
