.Stats {
  font-family: Lato;
  background-color: #f2f2f2;
  width: 100%;
  height: 100vh;
  margin-left: 55px;
  display: flex;
  flex-flow: row wrap;
  &-products {
    width: 40%;
    height: 220px;
    background-color: white;
    margin: 15px 30%;
    display: flex;
    &-pie {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    &-prodcount {
      height: 150px;
      width: 150px;
      color: #666;
      font-family: Lato;
      font-size: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7f7f7;
      border-radius: 50%;
      border: 10px solid coral;
    }
    &-wrapper {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      padding: 20px;
      color: #808080;
      .detail {
        font-size: 1.4rem;
        padding-left: 10px;
        &-wrapper {
          flex: 1;
          display: flex;
          flex-flow: column;
        }
        &-label {
          font-size: 0.6rem;
          font-weight: 600;
        }
      }
    }
  }
  &-time {
    width: 48%;
    height: 220px;
    background-color: white;
    margin: 1%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    &-title {
      text-align: center;
      color: coral;
      font-size: 1.25rem;
      margin-top: 20px;
      border-bottom: 1px solid #bdc3c7;
      padding-bottom: 20px;
      font-weight: 400;
      margin-bottom: 0;
    }
    &-stats {
      height: 50%;
      display: flex;
      flex-flow: row wrap;
    }
    .number-wrapper {
      display: flex;
      flex-flow: column nowrap;
      flex: 1;
      .label {
        font-size: 0.8rem;
        color: #808080;
        text-align: center
      }
    }
    .number {
      font-size: 2.5rem;
      text-align: center;

    }
  }
}

.coral {
  color: coral;
}

.green {
  color: #2ecc71;
}

.blue {
  color: #3498db;
}

.purple {
  color: #9b59b6;
}
