@import '../../../../../../../../sass/inputForm';
@import '../../../../../../../../sass/partials';

.DesignResponseStory{
  margin-top: 20px;
  &-title{
    @extend .custom-input-label;
  }
  &-inputWrapper{
    @extend .flex-col;
    margin-top:10px;
    position: relative;
  }
  &-label{
    @extend .custom-input-label;
  }
  &-input{
    @extend .custom-input;
    width: 94%;
    margin: 10px auto;

  }
  &-audio{
    &-wrapper{
      width: 93%;
      margin: 0 auto;
      margin-top: 10px;
      background-color: #f2f2f2;
      border-radius: 3px;
      border: 1px dashed #ccc;
      @extend .center-flexRow;
      padding: 10px;
    }
    &-icon{
      fill: #999 !important;
    }
    &-label{
      font-size: 0.9rem;
      color: #999;
    }
  }
  &-designresponse{
    &-wrapper{

    }
    &-label{
      @extend .custom-input-label;
    }
    &-value{
      font-size: 0.8em;
      margin: 8px 10px;
      margin-left: 30px;
      color: #666;
    }
  }
}
