@import '../../../../../../../sass/partials';
@import '../../../../../../../sass/inputForm';


.UserActions{
  margin: 20px 20px 0 20px;
  background-color: white;
  display: flex;
  border-radius: 2px;
  &-img{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    margin: 12px;
  }
  &-inputbutton{
    background-color: white;
    font-size: 0.7rem;
    color: #999;
    font-style: italic;
    width: 75%;
    text-align: left;
    cursor: text;
  }
  &-iconWrapper{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
  }
  &-icon{
    fill: #999 !important;
    width: 18px !important;
    height: 18px !important;
    background-color: #f2f2f2;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
  }
  &-expanded{
    margin: 20px 20px 0 20px;
    background-color: white;
    border-radius: 2px;
    @extend .flex-col;
    position: relative;
    &-input{
      display: flex;
    }
    &-text{
      width: 95%;
      font-size: 0.7rem;
      margin: 20px 12px 8px 0;
      border: none;
      resize: none;
      outline: none;
    }
    &-actionwrapper{
      @extend .flex-row;
      justify-content: space-between;
    }
    &-iconWrapper{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 12px 12px 0 12px;
    }
    .style-quiz{
      @extend .custom-secondary-button;
      position: relative;
      width: 130px;
      margin-left: 12px;
    }
    &-sendWrapper{
      @extend .flex-row;
      justify-content: flex-end;
      align-items: center;
      .send{
        @extend .custom-primary-button;
        background-color:#5ecece;
        width: 100px;
      }
      .ask-wrapper{
        @extend .custom-secondary-button;
        width: 65px;
        padding: 8px;
        display: flex;
        justify-content: space-around;
        .down-icon{
          width: 17px !important;
          height: 17px !important;
          fill: #808080 !important;
        }
      }
    }
    .dropdown-wrapper{
      position: absolute;
      width: 194px;
      right: 0;
      background-color: white;
      margin-top: 4px;
      z-index: 50;
      border-radius: 2px;
      @extend .flex-col;
      .action-type{
        padding: 15px;
        font-size: 0.7rem;
        cursor: pointer;
        color: #808080;
        font-weight: 400;
      }
    }
  }
}
