.ModellerView{
  .home-page {
    display: flex;
    flex-flow: row nowrap;
    &-container {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
    }
    &-main {
      margin-left: 55px;
      display: flex;
      flex-flow: row nowrap;
    }
  }
}
