.ProductList {
  height: 93vh;// 82 for search and 93 for other tabs
  overflow-y: scroll;
  &-loadMore {
    margin: 0 37%;
  }
  &-list {
    width: 100%;
    background-color: white;
    &.ListItem {
      display: flex;
      flex-flow: row nowrap;
    }
    & .itemList {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      height: 50px;
      .item-info {
        display: flex;
        flex-flow: row;
        align-items: center;
        font-size: 0.5rem;
        justify-content: space-between;
        width: 90%;
        cursor: pointer;
        .item-left {
          display: flex;
          flex-flow: row;
          padding-left: 16px;
          align-self: center;
          .product-image{
            max-width: 38px;
            max-height: 38px;
            min-height: 38px;
            min-width: 38px;
          }
          &:hover {
            .itemList {
              background-color: #123123;
            }
          }
          & .product-name {
            color: #000;
            font-size: 0.65rem;
            padding-left: 16px;
            align-self: center;
            overflow: hidden;
            max-height: 40px;
          }
        }
      }

      &-item-right {
        display: flex;
        flex-flow: row;
        align-self: center;
        padding-right: 16px;
        & .product-id {
          color: #000;
          padding-right: 16px;
          font-size: 0.55rem;
          align-self: center;
        }
        & .delete-button {
          background-color: transparent;
          border: none;
          outline: none;
          &:hover {
            border: 1px solid #000;
          }
        }
      }

    }
    & .product-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      & .delete {
        background-color: transparent;
        border: none;
        &:hover {
          fill: red;
        }
      }
    }
  }
}
