.ProductImageViewer {
  $containerWidth: 400px;
  .responsiveImage {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgGallery {
    .imgHolder {
      height: $containerWidth;
      width: $containerWidth;
      background: white;
      position: relative;
      .downloadBtn{
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
    .imageListWrapper {
      width: $containerWidth;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      .arrowController{
        background-color: grey;
      }
      .imageListCarousel {
        width: 352px;
        height: 100px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        background: white;
        &-item {
          margin: 2px 2px;
          cursor: pointer;
          display: inline-block;
          width: 82px;
          height: 82px;
          border: 1px solid #ccc;
          background: white;
          &.selected {
            border: 2px solid #ffd600;
          }
        }
      }
    }
  }
}
