@import '../../../sass/inputForm';
@import '../../../sass/partials';

.ProductCatalog{
  border-left: 2px solid #eee;
  max-width: 100%;
  min-height: 90vh;
  margin-left:55px;
  .topPanel{
    .searchPanel{
      text-align: center;
      padding: 15px;
      border-bottom: 1px dotted #ccc;
      display: flex;
      .searchInput{
        @extend .custom-input;
        margin: 0;
        border-radius: 24px;
        padding-left: 15px;
      }
      .searchFilter{
        outline: none;
        align-self: center;
        margin-left: 12px;
      }
      .searchFilterLabel{
        align-self: center;
        font-size: 0.8rem;
        width: 100px;
      }
      .searchSubmitBtn{
        margin-left: 5px;
        height: 35px;
        vertical-align: top;
        border: none;
        width: 10%;
        background-color: #333;
        border-radius: 2px;
        color: white;
        font-size: 0.8rem;
        &:hover{

        }
      }
    }
  }
  .productListHolder{
    .productList{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .ProductListItem{
    display: inline-block;
    width: 200px;
    height: auto;
    vertical-align: top;
    padding: 7px;
    margin:15px;

    border:1px solid transparent;
    &:hover{
      border:1px solid #ffd926;
      cursor: pointer;
    }
    .productImgHolder{
      .productImg{
        height: 200px;
        width: 200px;
        background-position: 50% 100%;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .productName{
      margin-top: 7px;
      color: #666;
      font-size: 13px;
    }
    .productPrice{
      color: #333;
      //padding-top: 2px;
      font-size: 17px;
      font-weight: bold;
      border-top:1px solid #c9c9c9;
      border-bottom:1px solid #c9c9c9;
      .priceContainer{
        @extend .flex-row;
        justify-content: space-between;
      }
    }
    .productFeatures{
      font-size: 11px;
      list-style-type: disc;
      padding-left: 6px;
      margin-top: 4px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
  }

}
