@import '../../../../../../../../sass/inputForm';
@import '../../../../../../../../sass/partials';

.DesignResponseName {
  @extend .flex-col;
  &-inputLabel {
    @extend .custom-input-label;
    margin-left: 28px;
    margin-top: 25px;
  }
  &-input {
    @extend .custom-input;
    width: 93%;
    margin: 10px auto;

  }
  &-name {
    @extend .input-form-title;
    border-bottom: none;
  }
  .toggle-button {
    @extend .custom-primary-button;
    margin: 0;
    width: 170px;
  }
  .delete-button {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    margin: 0 10px;
    .delete-icon {
      text-align: center;
      fill: #999 !important;
      width: 20px !important;
      height: 20px !important;
    }
    &:hover {
      .delete-icon {
        fill: #545454 !important;
      }
    }
  }
  .GlobalFeed{
    &-content{
      display: flex;
      flex-flow: column;
      height: 89%;
      &-title{
        @extend .input-form-title;

      }
      &-wrapper{
        @extend .center-flexCol;
        margin-top:20px;
        overflow-y: scroll;
      }
      &-input{
        @extend .custom-input;
      }
      &-inputLabel{
        @extend .custom-input-label;
      }
    }
    &-footer{
      &-buttonWrapper{
        @extend .flex-row;
        justify-content: flex-end;
        >.send{
          @extend .custom-primary-button;
        }
        >.cancel{
          @extend .custom-secondary-button;
        }
      }
    }
  }
}
