.ProductRepository {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  & .toggle{
    width: 130px;
  }
  & button {
    margin: auto 0;
    border-radius: 5px;
    border: 1px solid #7f8c8d;
    background-color: white;
    padding: 3px 15px;
    outline: none;
  }
  .product-rep-a{
    color: grey;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .product-table {
    margin: 10px;
    padding-top: 10px;
    & .preview-image{
      width:200px;
      height:200px;
      background-position: 50% 50% !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      border:1px dashed black;
    }
    td {
      padding-bottom: 10px;
      width: 20%
    }
    .first-row{
      text-align: right;
      padding-right: 20px;
      color: #808080;
    }
    td:nth-child(2){

    }

    td>img{
      width: 100px;
      height: 100px;
    }
    td>input{
      width:300px;
      outline: none;
    }
    & .grid-table {
      border: 1px dashed grey;
      & .thumbnails{
        height: 100px;
        width: 100px;
      }
      td {
        padding: 2px;
      }
    }
  }
}
