.single-image {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &-image {
    width: 100px;
    height: 100px;
    padding: 5px;
    &-holder {
      display: flex;
      flex-flow: column;
      border: 1px solid;
      align-items: center;
    }
    &-select {
      width: 100px;
      height: 100px;
      padding: 5px;

      background-color: rgba(30, 255, 65, 0.8);
    }

  }
  &-option {
    border: 1px solid;
    width: 200px;
    text-align: center;
    margin: 5px;
    &-select {
      border: 1px solid;
      width: 200px;
      text-align: center;
      margin: 5px;
      background-color: #b3b3b3;
    }
  }
}
