.single-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &-image {
    width: 200px;
    height: 200px;

  }
  &-option {
    border: 1px solid;
    width: 200px;
    text-align: center;
    margin: 5px;
    &-select {
      border: 1px solid;
      width: 200px;
      text-align: center;
      margin: 5px;
      background-color: #b3b3b3;
    }
  }
}
