 .flex-col{
    display: flex;
    flex-flow: column
  }
  .flex-row{
    display: flex;
    flex-flow: row;
  }
  .project-action-menu-container{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    background-color: #f7f7f7;
    font-family: 'Lato', sans-serif;
    padding: 15px 20px;
    border-bottom: 1px solid #e6e6e6;
    a:link    {text-decoration:none}
    a:visited {text-decoration:none}
    a:hover   {color:#008AE6; background-color:transparent; text-decoration:underline}
    a:active  {text-decoration:underline}
    .avatar{
      display: flex;
      align-items: center;
    }
    .toggle{
      flex: 1;
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      align-items: center;
      .newdesign-button{
        border: none;
        outline: none;
        background-color: #5BC4BF;
        font-size: 0.75rem;
        color: #fff;
        font-weight: 400;
        padding: 8px 24px;
        margin-right: 8px;
        border-radius: 2px;
      }
      .upload-button{
        background-color: #323031;
        color: white;
        border: none;
        outline: none;
        border-radius: 2px;
        font-size: 0.75rem;
        font-weight: 400;
        padding: 8px 20px;
      }
    }
    .status{
      flex: 1;
      display: flex;
      flex-flow: row;
    }
    .button-container{
      display: flex;
      flex-flow: row;
      .button-icon{
        fill: #808080 !important;
        zoom: 0.7;
      }
      .button-left{
        outline:none;
        width: 75px;
        height: 30px;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        background-color: white;
        border: 1.8px solid #cccccc;
        &:hover{
          background-color: #808080;
          .button-icon {
            fill: white !important;
          }
        }
      }
      .button-center{
        outline:none;
        width: 75px;
        height: 30px;
        border-right: none;
        border-left: none;
        background-color: white;
        border-top: 1.8px solid #cccccc;
        border-bottom: 1.8px solid #cccccc;
        &:hover{
          background-color: #808080;
          .button-icon {
            fill: white !important;
          }
        }
      }
      .button-right{
        outline:none;
        width: 75px;
        height:30px;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        background-color: white;
        border: 1.8px solid #cccccc;
        &:hover{
          background-color: #808080;
          .button-icon {
            fill: white !important;
          }
        }
      }
    }
    .icon-wrapper {
      outline: none;
      background: transparent;
      border: none;
      width: 40px;

      .project-actions-right-menu {
        fill: #808080 !important;
        border: 1px solid #bdc3c7;
        border-radius: 50%;
        text-align: center;
        height: 25px;
        width: 25px;
        zoom: 0.7;
        padding: 7px;
        background-color: white;
        margin: 5px;
        &:hover {
          background-color: #808080;
          fill: #fff !important;
        }
      }
    }
    .RightDropDownMenu{
      background-color: #e6e6e6;
      padding: 3.5px;
      border-radius: 2px;
    }
  }

