@import '../../sass/partials';
@import '../../sass/inputForm';
.ProfileViewer{
  margin-left: 55px;
  width: 100%;
  &-container{
    display: flex;
    flex-flow: column;
    .coverImage{
      position: relative;
      background-position: 50% 50%;
      background-size: cover;
      padding-bottom: 1px;
      border-bottom: 1px solid #f2f2f2;
      .coverEdit{
        position: absolute;
        top: 5%;
        right: 1%;
        cursor: pointer;
        &:hover{
          background-color: #000;
          .hint{
            display: inline-block;
            padding-left: 8px;
          }
        }
        .hint{
          color: #fff;
          font-size: 0.8rem;
          display: none;
        }
      }
      .onUpload{
        position: absolute;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    .profileImageContainer{
      position: relative;
      width: 200px;
      height: 200px;
      .profileImage{
        position: relative;
        border: 5px solid white;
        background-size: cover;
        background-position: 50% 50%;
        max-height: 170px;
        min-height: 170px;
        //max-width: 170px;
        margin: 20px;
        box-shadow: 2px 2px 8px #888888;
        .onUpload{
          position: absolute;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.5);
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .profileImageEdit{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        cursor: pointer;
        &:hover{
          background-color: #000;
          .hint{
            display: inline-block;
          }
        }
        .hint{
          color: #fff;
          font-size: 0.7rem;
          display: none;
        }
      }
    }
    .profileName{
      margin: 20px;
      margin-top: 0;
      color: white;
      text-shadow: 2px 2px 8px #333;
    }
    .profileDescriptionContainer{
      position: relative;
      padding: 20px;
      &:hover{
        .descriptionEdit{
          display: inline-block;
        }
      }
      .description{
        font-size: 14px;
        width: 100%;
        border: none;
        word-break: break-word;
        outline: none;
        line-height: 1.375rem;
        resize: none;
      }
      .descriptionEdit{
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.9;
        cursor: pointer;
        .hint{
          width: 100%;
          color: #fff;
          font-size: 0.8rem;
          position: absolute;
          text-align: center;
          top: 40%;
        }
      }
      .updateBtn{
        text-align: center;
        border-top: 1px solid #f2f2f2;
      }
    }
    .profileProjects{
      background: #eee;
      padding: 20px;
    }
  }
  &-uploadModal{
    &-inputTitle{

    }
    &-projectUpload{
      text-align: center;
      .title{
        margin-left: 0;
      }
    }
  }
  &-notfound{
    position: absolute;
    width: 100%;
    text-align: center;
  }
}
