@import '../../../../../../../../sass/inputForm';
@import '../../../../../../../../sass/partials';

.products-list {
  width: 100%;
  background-color: #f2f2f2;
  &.ListItem {
    display: flex;
    flex-flow: row nowrap;
  }
  &-item{

  }
  & .product-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 0.7rem;
    font-weight: 300;
    & .product-left{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      flex: 2;
    }
    .product-right{
      flex:1;
      align-self: center;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.ProductsList{
  &-title{
    @extend .custom-input-label;
    margin-left: 18px;
  }
}
