.flex-row{
  display: flex;
  flex-flow: row;
}
.flex-col{
  display: flex;
  flex-flow: column;
}
.center-text{
  text-align: center;
}
.Description{
  height: 84vh;
  overflow-y: scroll;
  background-color: #e6e6e6;
  padding-top: 10px;
  font-family: 'Lato';
  @extend .flex-col;
  &-header{
    margin: 10px 0;
    @extend .center-text;
  }
  &-wrapper{
    @extend .flex-col;
    margin: 2px 10px;
  }
  &-content{

    padding: 10px;
  }
  &-collaborators{
    @extend .flex-col;
    margin: 2px 10px;
  }
  &-assigned-users{
    @extend .flex-col;
    margin: 2px 10px;
  }
  &-title{
    margin: 2px 0;
    font-size: 0.8rem;
    color: #808080;
    font-weight: 700;
  }
  &-empty-title{
    padding: 10px;
    font-size: 0.8rem;
    text-align: left;

  }
}
