@import '../../../../../../sass/inputForm';
@import '../../../../../../sass/partials';

.ProductCart {
  margin-left: 55px;
  &-label {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.09);
    .saveBtn {
      padding-left: 15px;
    }
  }
  &-products {
    width: 70%;
    border-right: 1px dotted #ccc;
    display: inline-block;
    vertical-align: top;
    &-header {
      padding: 20px;
      background-color: #f2f2f2;
      font-size: 14px;
      margin: 0 10px;
    }
  }
  &-requests {
    width: 29.5%;
    display: inline-block;
    &-header {
      padding: 20px;
      background-color: #f2f2f2;
      font-size: 14px;
      margin: 0 10px;
    }
    &-body {

    }
    &-add {
      width: 100%;
      text-align: center;
    }
    &-item {
      display: flex;
      flex-flow: row;
      padding: 7px 15px;
      border-bottom: 1px dashed #ccc;
      .status {
        margin: 0 0.49%;
        width: 25%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        &-done {
          fill: green !important;
          height: 40px !important;
          width: 40px !important;
        }
        &-cancel {
          outline: none;
          padding: 0 4px;
          border: 1px solid #FF4500;
          background-color: transparent;
          font-size: 0.7em;
          border-radius: 2px;
          color: #FF4500;
        }
      }
      .request-list {
        display: flex;
        flex-flow: column;
        width: 74%;
        box-sizing: border-box;
        padding-left: 10px;
      }
      .button-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding-bottom: 5px;
        margin-top: 10px;
        .remove {
          font-size: 0.4rem;
          background-color: #f2f2f2;
          margin-right: 10px;
          color: #333;
          border: none;
          padding: 3px;
          border-radius: 2px;
          &:hover {
            text-decoration: underline;
          }
        }
        .done {
          @extend .remove;
        }
        .cancel {
          margin-right: 0;
          @extend .remove;
        }
        .time {
          max-width: 64px;
          font-size: 10px;
          color: #333333;
        }
      }
      .color {
        font-size: 0.75rem;
        padding-bottom: 5px;
      }
      .note {
        font-size: 0.7rem;
        word-break: break-all;
        padding-bottom: 5px;
      }
      .itemtype{
        font-size: 0.9rem;
        word-break: break-all;
        padding-bottom: 5px;
      }
      .link {
        font-size: 0.75rem;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 5px;
      }
    }
  }
  .ProductListItem {
    display: inline-block;
    width: 200px;
    height: auto;
    vertical-align: top;
    padding: 7px;
    margin: 10px;

    border: 1px solid transparent;
    &:hover {
      border: 1px solid #ffd926;
      cursor: pointer;
    }
    .productImgHolder {
      .productImg {
        height: 200px;
        width: 200px;
        background-position: 50% 100%;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .productName {
      margin-top: 7px;
      color: #666;
      font-size: 13px;
    }
    .productPrice{
      color: #333;
      //padding-top: 2px;
      font-size: 17px;
      font-weight: bold;
      border-top:1px solid #c9c9c9;
      border-bottom:1px solid #c9c9c9;
      .priceContainer{
        @extend .flex-row;
        justify-content: space-between;
      }
    }
    .productFeatures {
      font-size: 11px;
      list-style-type: disc;
      padding-left: 6px;
      margin-top: 4px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      .list{
        font-size: 0.65rem;
        flex: 4;
      }
      .details{
        flex: 1;
      }
      .cancelled{
        color: #CE6B42;
        font-size: 0.65rem;
      }
      .modelled{
        text-align: center;
      }
    }
  }
  &-label {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.09);
  }
  &-totalCost {
    margin: 0;
    padding-left: 20px;
  }
  &-name {
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin: 10px 0;
    > input {
      padding-left: 10px;
      height: 30px;
      outline: none;
    }
  }
  &-saveBtn {
    text-align: center;
    width: 100%;
  }
  &-list {
    display: flex;
    flex-flow: row wrap;
    .productListItem {
      display: flex;
      height: 120px;
      padding: 7px;
      margin: 0 15px 15px 15px;
      position: relative;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #666666;
      .deleteBtn {
        cursor: pointer;
        &:hover {
          background-color: red;
          border-radius: 50%;
        }
      }

      .productImgHolder {
        display: flex;
        flex-flow: row;
        align-items: center;
        flex: 4;
        .productImg {
          height: 120px;
          width: 120px;
          background-position: 50% 100%;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .productName {
        margin-top: 7px;
        color: #666;
        font-size: 13px;
      }
      .productPrice {
        flex: 1;
        color: #333;
        //padding-top: 2px;
        font-size: 14px;
        font-weight: bold;

      }
      .productFeatures {
        font-size: 11px;
        list-style-type: disc;
        padding-left: 6px;
        margin-top: 4px;
      }
      .productQuantity {
        flex: 0.2;
        .quantityInput {
          width: 24px;
          height: 20px;
          border: #ccc solid 1px;
          background: #fff;
          padding: 2px 0 0;
          text-align: center;
        }
      }
    }
  }
}
