$width: 4px;
.Modal{
  & .window{
    position:fixed;
    overflow: scroll;
    top: 0;
    width:50%;
    height:60%;
    z-index:999;
    padding:20px;
  }
  & .mask{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:900;
    background-color: rgba(0, 0, 0, 0.7);
  }
  & #dialog{
    width:475px;
    height:250px;
    background: #fff;
  }
}
