.new-products {
	width: 100%;
	height: 96vh;
	background-color: white;
  	overflow-y: scroll;
  	&-item {
  		display: flex;
  		flex-flow: column nowrap;
  		justify-content: center;
  		&-wrapper {
  			color: black;
  			display: flex;
  			flex-flow: row nowrap;
  			justify-content: space-between;
        align-items: center;
  		}
  		
  		&-title {
  			order: 1;
  			align-self: center;
  			flex: 1.5;
  			display: flex;
  			flex-flow: column nowrap;
  			padding: 0px 10px;
  			font-size: 0.7em;
  			text-overflow: ellipsis;
  			white-space: nowrap;
  			overflow: hidden;
  		}
  		&-time {
  			order: 2;
  			align-self: center;
  			flex: 1;
  			display: flex;
  			flex-flow: column nowrap;
  			font-size: 0.7em;
  			text-align: end;
  			margin-right: 20px;
  			overflow: hidden;
  			white-space: nowrap;
  			text-overflow: ellipsis;
  			color: #808080;
  		}
  	}
}