@import "../../../../../../../../../sass/partials";
@import "../../../../../../../../../sass/inputForm";

.ProductCart {
  margin-left: 55px;
  height: 100%;
  &-body{
    height: 99%;
    overflow-y:scroll;
    margin-bottom: 20px;
  }
  &-label {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.09);
    .saveBtn {
      padding-left: 15px;
    }
  }
  &-products {
    width: 70%;
    border-right: 1px dotted #ccc;
    display: inline-block;
    vertical-align: top;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px;
      background-color: #f2f2f2;
      font-size: 14px;
      margin: 0 10px;
    }
  }
  &-requests {
    width: 29.5%;
    display: inline-block;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px;
      background-color: #f2f2f2;
      font-size: 14px;
      margin: 0 10px;
      &-addBtn {
        @extend .custom-primary-button;
        margin: 0;
      }
    }
    &-body {

    }
    &-add {
      width: 100%;
      text-align: center;
    }
    &-item {
      display: flex;
      flex-flow: row;
      padding: 7px 15px;
      border-bottom: 1px dashed #ccc;
      .status {
        margin: 0 0.49%;
        width: 25%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        &-done {
          fill: green !important;
          height: 40px !important;
          width: 40px !important;
        }
        &-cancel {
          outline: none;
          padding: 0 4px;
          border: 1px solid #FF4500;
          background-color: transparent;
          font-size: 0.7em;
          border-radius: 2px;
          color: #FF4500;
        }
      }
      .request-list {
        display: flex;
        flex-flow: column;
        width: 74%;
        box-sizing: border-box;
        padding-left: 10px;
      }
      .button-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding-bottom: 5px;
        margin-top: 10px;
        .remove {
          font-size: 0.4rem;
          background-color: #f2f2f2;
          margin-right: 10px;
          color: #333;
          border: none;
          padding: 3px;
          border-radius: 2px;
          &:hover {
            text-decoration: underline;
          }
        }
        .done {
          @extend .remove;
        }
        .cancel {
          margin-right: 0;
          @extend .remove;
        }
        .time{
          max-width: 64px;
          font-size: 10px;
          color: #333333;
        }
      }
      .color {
        font-size: 0.75rem;
        padding-bottom: 5px;
      }
      .itemtype {
        font-size: 0.75rem;
        word-break: break-all;
        padding-bottom: 5px;
      }
      .note {
        font-size: 0.7rem;
        word-break: break-all;
        padding-bottom: 5px;
      }
      .link {
        font-size: 0.75rem;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 5px;
      }
    }
  }

  &-bottom-totalCost {
    padding: 20px;
    background-color: #fff;
    font-size: 14px;
    text-align: right;
  }
  &-name {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 10px 0;
    &-label{
      @extend .custom-input-label;
      margin-left: 15px;
    }
    &-input {
      @extend .custom-input;
      width: 95%;
    }
  }
  &-saveBtn {
    border-top: 1px solid #e6e6e6;
    text-align: right;
    width: 100%;
  }
  &-divider{
    background-color: #e6e6e6;
    height: 100%;
    width: 1px;
  }
  &-list {
    display: flex;
    flex-flow: column;
    .productListItem {
      display: flex;
      height: 100px;
      padding: 7px;
      margin: 0 15px;
      position: relative;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px dashed #ccc;
      &-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-color: #000;
        z-index: 1;
        margin-top: -7px;
      }
      .cancelled{
        position: absolute;
        font-size: 2rem;
        height: 100%;
        width: 100%;
        color: white;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        cursor: pointer;
        &-button{
          border: 1px solid white;
          padding: 0 8px;
        }
      }
      .deleteBtn {
        cursor: pointer;
        &:hover {
          background-color: red;
          border-radius: 50%;
        }
      }

      .productImgHolder {
        display: flex;
        flex-flow: row;
        align-items: center;
        flex: 4;
        .productImg {
          flex: 1;
          height: 100px;
          width: 100px;
          background-position: 50% 100%;
          background-size: contain;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        .productRemove {
          flex: 0.5;
          align-self: flex-end;
          font-size: 0.4rem;
          background-color: transparent;
          color: #2271b2;
          border: none;
          bottom: 6px;
          &:hover {
            text-decoration: underline;
          }
        }
        .productCancel {
          flex: 0.5;
          align-self: flex-end;
          font-size: 0.4rem;
          background-color: transparent;
          color: #FF4500;
          border: none;
          bottom: 6px;
          &:hover {
            text-decoration: underline;
            text-decoration-color: #FF4500;
          }
        }
      }
      .productName {
        margin-top: 7px;
        color: #666;
        font-size: 13px;
      }
      .productPrice {
        flex: 0.7;
        color: #333;
        //padding-top: 2px;
        font-size: 14px;
        font-weight: bold;
      }
      .productTotalPrice {
        @extend .productPrice;
        text-align: right;
      }
      .productFeatures {
        flex: 2;
        font-size: 11px;
        list-style-type: disc;
        padding-left: 6px;
        position: relative;
        margin-left: 30px;
        cursor: pointer;
        .productName {
          font-weight: bold;
        }
        .productModelled{
          position: absolute;
          left: -25px;
          top: 25px;
        }
      }
      .productQuantity {
        flex: 0.3;
        .quantityInput {
          width: 24px;
          height: 20px;
          border: #ccc solid 1px;
          background: #fff;
          padding: 2px 0 0;
          text-align: center;
        }
      }
    }
  }
}
