.NotFound {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #f2f2f2;
  .fouroh {
    font-size: 8rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #323031;
  }
  .oh-logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;

  }
  .Sorry {
    color: #808080;
    font-size: 1.5rem;
  }
  .alter {
    color: #808080;
    margin: 10px;
  }
  .home-button {
    background-color: white;
    border: 1px solid #bdc3c7;
    color: #808080;
    outline: none;
  }
}
